@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue|Hind+Vadodara&display=swap");
@import url("https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap");
@import url("https://fonts.googleapis.com/css?family=Vollkorn+SC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Saira+Stencil+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue|Hind+Vadodara|Oswald|Paytone+One&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Hind Vadodara", sans-serif;
  background-color: #131212;
  color: rgba(240, 231, 231, 0.61);
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  max-width: 90%;
  height: 10vh;
  margin: 0 auto;
  z-index: 100;
  width: 100%;
}

header .bars {
  cursor: pointer;
  margin-left: 1.5rem;
  z-index: 100;
}

header .bars div {
  width: 40px;
  height: 3px;
  background-color: #f3e56b;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header h1 {
  color: rgba(247, 233, 104, 0.911);
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 1.7rem;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10000;
  position: absolute;
  right: 0%;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: #0e0d0d;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25rem;
  z-index: 100;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
}

header nav .cart {
  width: 10px;
  margin-left: 5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header nav .cart i {
  color: #444443;
  font-size: 1.5rem;
}

header .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: start;
}

header .nav-links a {
  text-decoration: none;
  margin: 1rem;
  font-weight: 100;
  color: #686767;
  font-size: 2.3rem;
  font-family: "Saira Stencil One", cursive;
  text-transform: uppercase;
}

header .nav-links li {
  margin: 2rem;
  opacity: 0;
}

header span {
  position: relative;
}

header .nav-item {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%;
}

header .nav-item span:before {
  width: 0;
  color: #e9e6e3;
  overflow: hidden;
  position: absolute;
  content: attr(data-text);
  -webkit-transition: all 0.6s cubic-bezier(0.84, 0, 0.08, 0.99);
  transition: all 0.6s cubic-bezier(0.84, 0, 0.08, 0.99);
}

header .nav-item span:hover:before {
  width: 100%;
}

header .project-preview-wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .project-preview {
  position: fixed;
  top: 25%;
  left: 50%;
  width: 0;
  height: 40%;
  background-position: center;
  background-size: cover;
}

header .barsToggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

header .barsToggle .line2 {
  opacity: 0;
}

header .barsToggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

header .nav-active {
  -webkit-transform: translateX(0%) !important;
          transform: translateX(0%) !important;
}

.home {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  width: 100%;
  -ms-grid-columns: 50% 1fr;
      grid-template-columns: 50% 1fr;
}

.home .landing-img {
  background-color: black;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  height: 100vh;
  z-index: -1;
  background: url("../assets/eminem1.jpg");
  background-size: cover;
  background-position: center;
}

.home .landing-content {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  color: #f0e7e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.home .landing-content .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  max-width: 100%;
  z-index: 1;
  padding: 85px;
}

.home .landing-content .title h1 {
  font-size: 5.6rem;
  font-family: "Bebas Neue", cursive;
  color: #f3e56b;
  width: 450px;
  text-align: start;
  letter-spacing: 3px;
  z-index: 100;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.home .landing-content .title p {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-size: 1rem;
  font-weight: 100;
  position: absolute;
  top: 15rem;
  left: 1rem;
  color: #585757;
}

.home .landing-content .see-more {
  background-color: #e92b2b;
  background-color: #ee7a4c;
  background: url("https://2dopeboyz.com/wp-content/uploads/2015/05/eminem-mmlp-main-500x430.jpg");
  background-position: center;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50%;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: solid 2px #f3e56b;
  border-bottom: none;
  border-right: none;
}

.home .landing-content .see-more a {
  color: #f5efef;
  color: #f3e56b;
  font-family: "Bebas Neue", cursive;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 100;
  width: 100%;
  text-align: end;
  padding: 1.5rem;
}

.about {
  margin-top: 10rem;
  width: 1150px;
  margin: 0 auto;
}

.about h1 {
  color: rgba(247, 233, 104, 0.911);
  margin-bottom: 2rem;
}

.about .about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .about-content img {
  width: 500px;
}

.about .about-content .about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .about-content .about-text h3 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 2rem;
}

.about .about-content .about-text p {
  width: 100%;
}

@-webkit-keyframes linkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes linkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}
/*# sourceMappingURL=style.css.map */