@import url("https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue|Hind+Vadodara&display=swap");
@import url("https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap");
@import url("https://fonts.googleapis.com/css?family=Vollkorn+SC&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bebas+Neue|Hind+Vadodara|Oswald|Paytone+One&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Hind Vadodara', sans-serif;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  max-width: 90%;
  height: 10vh;
  margin: 0 auto;
  z-index: 100;
  width: 100%;
}

header h1 {
  color: #ecb056;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 1.7rem;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .cart {
  width: 10px;
  margin-left: 5rem;
}

header nav .cart i {
  color: #f7f3f3;
  font-size: 1.5rem;
}

header .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

header .nav-links a {
  text-decoration: none;
  margin: 1rem;
  font-weight: 100;
  color: #eee5e5;
  font-size: 1.3rem;
}

.home {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  width: 100%;
  -ms-grid-columns: 50% 1fr;
      grid-template-columns: 50% 1fr;
}

.home .landing-img {
  background-color: black;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  height: 100vh;
  z-index: -1;
  background: url("../assets/eminem1.jpg");
  background-size: cover;
  background-position: center;
}

.home .landing-content {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  color: #f0e7e7;
  background-color: #1d1c1c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.home .landing-content .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  max-width: 100%;
  z-index: 100;
  padding: 85px;
}

.home .landing-content .title h1 {
  font-size: 5.6rem;
  font-family: 'Bebas Neue', cursive;
  width: 450px;
  text-align: start;
  letter-spacing: 3px;
  z-index: 100;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.home .landing-content .title p {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-size: 1rem;
  font-weight: 100;
  position: absolute;
  top: 15rem;
  left: 1rem;
}

.home .landing-content .see-more {
  background-color: #e92b2b;
  background-color: #e65f29;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50%;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .landing-content .see-more a {
  color: #f5efef;
  font-family: 'Bebas Neue', cursive;
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 100;
  width: 100%;
  text-align: end;
  padding: 1.5rem;
}
/*# sourceMappingURL=style.css.map */