@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:900');

$titleFont: 'Noto Sans KR', sans-serif;
$borderStyle: solid 1px #e0dfdf;
$dark : black;
$mainBlue: rgb(13, 156, 212);

@mixin flexCenter {
    display: flex;
    justify-content: center;
}

@mixin btnReset {
    cursor: pointer;
    background-color: rgb(13, 156, 212);
    border: none;
    outline: none;
    color: #f8f8f8;
}

@mixin linksReset{
    list-style: none;
    text-decoration: none;
    color: rgb(59, 59, 59);
}

@mixin columnCenter {
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin inputReset {
    outline: none;
    border: none;
    padding: 5px;
}

@mixin aReset {
    background: none !important;
    padding: 16px 0 !important;
    width: 120px !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
}