@import './variables';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
  background-color: #faf8f8;
}
/* Nav*/
header {
  height: 9vh;
  .topo-nav {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
  }

  .navbar {
    @include flexCenter();
  }
  
  #main {
    @include flexCenter();
  }

  .logo {
    margin-top: 22px;
    font-family: $titleFont;
    text-transform: uppercase;
    background: rgb(0, 183, 255);
    padding: 0 12px 0;
    color: rgb(247, 245, 248);
    cursor: pointer;
  }

  li,
  a {
    @include linksReset();
    margin-left: 15px;
    font-size: 1rem;
    margin-top: 40px;
    text-transform: uppercase;
  }
}
.sticky-nav {
    position: fixed;
    width: 100%;
    height: 9vh;
    background: #ffffff;
    z-index: 1;
    transition: 0.8s;
  }

/*Banner*/
.banner {
  display: grid;
  border-bottom: $borderStyle;
  border-top: $borderStyle;
  background-color: white;
  height: 35vh;
  margin-top: 5px;
  background: url('https://navedez.vteximg.com.br/arquivos/ids/184555/[2015-08]-Nave-10-Banners-Galaxy-S9.jpg?v=636579283423470000')
    no-repeat;
  background-size: cover;
}

/*Conteudo*/
main {
  display: flex;
  /*Side menu*/
  .menu {
    width: 25vw;
    height: 100vh;
    .menu-items {
      @include flexCenter();
      flex-direction: column;
      margin-left: 40%;
      h3 {
        margin-top: 15px;
        font-family: $titleFont;
        color: rgb(62, 63, 63);
        text-transform: uppercase;
      }

      li,
      a {
        @include linksReset();
        margin-top: 11px;
        font-size: 16px;
        &:hover {
          color: rgb(0, 183, 255);
        }
      }
    }
  }
  /*Side menu end*/

  /*Produtos destaque*/
  #destaques {
    display: grid;
    margin-left: 0%;
    padding: 12px;
    grid-template-columns: repeat(4, 200px);
    grid-column-gap: 45px;
    grid-row-gap: 80px;
    border-left: $borderStyle;
    .item {
      width: 235px;
      height: 420px;
      padding: 6%;
      background-color: #ffffff;
      border: solid 1px rgb(224, 222, 222);
    }

    h3 {
      font-size: 0.9em;
      align-self: center;
    }

    img {
      cursor: pointer;
      width: 220px;
    }

    h3,
    a {
      @include flexCenter();
      @include linksReset();
      font-family: $titleFont;
      margin-left: 0%;
    }

    a {
      background: rgb(0, 183, 255);
      padding: 11px;
      width: 150px;
      margin-top: 10px;
      margin-left: 15%;
      text-transform: uppercase;
      color: #fdf5f5;
    }

    p {
      @include flexCenter();
      margin-top: 5px;
    }

    .parcela {
      // font-weight: bold;
      color: rgb(75, 74, 74);
      font-size: 0.9em;
    }
  }

  /*Produtos destaque end*/

  .organizar {
    display: grid;
    grid-column: 1/5;
    width: 970px;
    height: 6vh;
    background: $mainBlue;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: -50px;

    h4 {
      font-family: $titleFont;
      text-transform: uppercase;
      padding: 12px 0;
      font-size: 18px;
      margin-left: 10px;
      color: #f3efef;
    }

    a {
      cursor: pointer;
      @include aReset();
      height: 40px;
      font-size: 15px;
      color: #f3efef;
    }

    input {
      @include inputReset();
      border-radius: 4px;
      border: solid 2px rgb(231, 228, 228);
      margin-top: 10px;
    }
  }
}
/*Conteudo end*/
.contato-form {
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 25px;
  background: rgb(247, 248, 248);
  padding: 6%;
  border-top: $borderStyle;
  margin-left: 0;
  h2 {
    align-self: center;
    text-transform: uppercase;
    font-family: $titleFont;
    color: #353434;
  }
  input,
  select,
  textarea,
  button {
    padding: 2%;
    margin-top: 4px;
    outline: none;
    width: 450px;
  }
  button {
    @include btnReset();
    text-transform: uppercase;
    font-weight: bold;
  }

  .duvidas-form,
  .sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    align-items: center;
    border: $borderStyle;
    padding: 2%;
    margin-left: 5px;
    .endereco {
      display: flex;
    }
  }
}

/* Footer */
footer {
  padding: 0% 12%;
  display: flex;
  flex-wrap: wrap;
  border-top: solid 1px #dbdada;
  background: #f6f5f5;
  height: 40vh;
  justify-content: space-around;

  .info {
    margin-top: 5%;
    li,
    a {
      @include linksReset();
      font-size: 0.9em;
      color: #3f3e3e;
    }
    h4 {
      text-transform: uppercase;
      color: rgb(39, 39, 38);
      margin-bottom: 6px;
    }
  }
  .newsletter {
    margin-top: 5%;
    @include columnCenter();
    .socials i {
      color: rgb(0, 183, 255);
      padding: 2px;
    }
    .email {
      @include columnCenter();
      h5 {
        text-transform: uppercase;
        color: #353434;
      }
      input {
        width: 122%;
        height: 27px;
        padding: 2px;
        outline: none;
        border-radius: 4px;
        border: solid 2px #ccc;
      }

      button {
        @include btnReset();
        margin-top: 2px;
        width: 122%;
        height: 25px;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 2px;
      }
    }
  }
  .copyright {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
/* Footer end */

/* Modal */
.modal {
  position: fixed; /* vai se mover junto com a tela */
  top: 50%;
  left: 50%;
  border: none;
  border-radius: 2px;
  z-index: 10; /* ficar acima de tudo e todos */
  transition: 200ms ease-in-out;
  background-color: rgb(255, 255, 255);
  width: 380px;
  height: 400px;
  max-width: 80%;
  transform: translate(-50%, -50%) scale(0); /*conteudo fica centralizado na tela*/

  .modal-header {
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px #e7e6e6;
    color: #353434;
  }

  .modal-body {
    padding: 6%;
    display: flex;
    margin-top: 28px;
    @include columnCenter();

    input {
      width: 65%;
      height: 27px;
      border-radius: 3px;
      border: none;
      border-bottom: solid 2px #ccc;
      box-shadow: none;
      outline: none;
    }

    button {
      cursor: pointer;
      outline: none;
      border-radius: 2px;
      width: 65%;
      background-color: rgb(0, 183, 255);
      border: none;
      color: #ffffff;
      height: 30px;
      margin-top: 3px;
      margin-bottom: 4px;
      text-transform: uppercase;
    }

    a {
      padding: 0;
      margin-top: 0;
      text-transform: inherit;
      margin-left: 4px;
    }

    .login-form {
      @include columnCenter();
      input {
        width: 220px;
      }
      button {
        width: 220px;
      }
    }

    .registrar-form {
      margin-top: -30px;
      input {
        width: 220px;
        margin-top: 15px;
      }
      button {
        width: 220px;
      }
      form {
        margin-left: 16%;
      }
    }

    .recuperar-senha {
      flex-direction: column;
      input {
        width: 220px;
        margin-top: 15px;
        margin-bottom: -22px;
      }
      button,
      p,
      a {
        width: 220px;
      }
      a {
        margin-top: -22px;
      }

      form {
        margin-left: 16%;
      }
    }
  }
  .close-button {
    cursor: pointer;
    background: none;
    color: rgb(59, 59, 59);
    padding: 4px;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    outline: none;
  }
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

// Modal overlay
#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparentize($dark, 0.4);
  pointer-events: none;
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}
/*Modal end*/
