@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
header {
  background-color: rgba(24, 23, 29, 0.863);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 1.3rem 1.3rem 1.3rem;
  border-radius: 0 0 0.1rem 0.1rem;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  width: 1210px;
  z-index: 100;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

@media (max-width: 1440px) {
  header {
    width: 85%;
  }
}

@media (max-width: 565px) {
  header {
    width: 100%;
    left: 0;
  }
}

header h1 {
  font-family: "Black Han Sans", sans-serif;
  font-weight: 100;
  color: #9e3dee;
}

header form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header form span {
  color: rgba(230, 207, 245, 0.658);
  letter-spacing: 1px;
}

@media (max-width: 1150px) {
  header form span {
    width: 120px;
    font-size: 0.8rem;
  }
}

@media (max-width: 930px) {
  header form span {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    margin: 0 auto;
  }
}

@media (max-width: 930px) {
  header form {
    display: none;
  }
}

header form select {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='rgba(165, 160, 187, 0.795)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
  background-color: rgba(24, 23, 29, 0.89);
  border: solid 1px rgba(53, 50, 66, 0.863);
  letter-spacing: 1px;
  color: rgba(230, 207, 245, 0.644);
  border-radius: 0.1rem;
  padding: 0.5rem;
  width: 140px;
  margin: 1px;
  height: 40px;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

header form select:hover {
  border: solid 1px #6f4194;
  color: rgba(226, 192, 248, 0.959);
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

@media (max-width: 1150px) {
  header form select {
    width: 120px;
    font-size: 0.7rem;
  }
}

@media (max-width: 930px) {
  header form select {
    width: 80%;
    margin: 0;
    margin-top: 0.7rem;
    font-size: 0.9rem;
  }
}

header form select option {
  padding: 5rem;
}

header form a {
  cursor: pointer;
  padding: 0.5rem 0.8rem;
  height: 40px;
  background-color: transparent;
  color: rgba(230, 207, 245, 0.644);
  letter-spacing: 1px;
  margin-left: 3px;
  border: none;
  color: #e6cff5;
  text-align: center;
  border-radius: 0.1rem;
  letter-spacing: 1px;
  font-weight: 100;
  font-size: 1.1rem;
  font-family: "Bebas Neue", cursive;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#a03ff0), to(rgba(84, 29, 139, 0.788)));
  background-image: linear-gradient(to bottom right, #a03ff0, rgba(84, 29, 139, 0.788));
}

@media (max-width: 930px) {
  header form a {
    margin-top: 0.7rem;
    width: 35%;
    font-size: 1.2rem;
    letter-spacing: 2px;
  }
}

@media (max-width: 930px) {
  header form {
    position: fixed;
    right: 0px;
    height: 100vh;
    width: 50%;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 100;
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
    background-color: rgba(24, 23, 29, 0.925);
    color: #8b8888;
  }
}

@media (max-width: 780px) {
  header form {
    width: 70%;
  }
}

@media (max-width: 565px) {
  header form {
    width: 100%;
  }
}

header form .filter-options {
  position: relative;
}

@media (max-width: 930px) {
  header form .filter-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 85%;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

header .search-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 50%;
}

@media (max-width: 1150px) {
  header .search-container {
    width: 45%;
  }
}

@media (max-width: 930px) {
  header .search-container {
    width: 80%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 625px) {
  header .search-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

header input {
  background-color: #2c2b33;
  background-color: transparent;
  border: solid 1px rgba(53, 50, 66, 0.863);
  padding: 0.6rem;
  border-radius: 0.1rem;
  width: 100%;
  color: rgba(222, 220, 231, 0.849);
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  height: 40px;
  margin-left: 1.2rem;
}

@media (max-width: 930px) {
  header input {
    height: 100%;
    margin-left: 3.5rem;
  }
}

@media (max-width: 625px) {
  header input {
    margin-top: 0.3rem;
    margin-left: 0;
  }
}

header input:-webkit-autofill,
header input:-webkit-autofill:hover,
header input:-webkit-autofill:focus,
header input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: rgba(222, 220, 231, 0.849) !important;
}

header input:focus {
  border: solid 1px rgba(158, 61, 238, 0.616);
}

header #search {
  cursor: pointer;
  position: absolute;
  background-color: transparent;
  border: none;
  top: 9px;
  right: 10px;
  font-size: 1.2rem;
  color: rgba(78, 69, 85, 0.644);
}

@media (max-width: 930px) {
  header #search {
    top: 7px;
  }
}

@media (max-width: 625px) {
  header #search {
    top: 51px;
  }
}

header .close-nav,
header .burger {
  cursor: pointer;
  display: none;
  position: absolute;
  right: 1rem;
  top: 2.4rem;
}

@media (max-width: 930px) {
  header .close-nav,
  header .burger {
    display: block;
  }
}

@media (max-width: 625px) {
  header .close-nav {
    margin-top: 0;
  }
}

header .burger div {
  width: 30px;
  height: 2px;
  background-color: #9e3dee;
  margin: 5px;
}

header .close-nav {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

header .close-nav .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 5px);
          transform: rotate(-45deg) translate(-5px, 5px);
}

header .close-nav .line2 {
  opacity: 0;
}

header .close-nav .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -5px);
          transform: rotate(45deg) translate(-5px, -5px);
}

header .close-nav div {
  width: 30px;
  height: 2px;
  background-color: #9e3dee;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header .nav-active {
  -webkit-transform: translateX(0%) !important;
          transform: translateX(0%) !important;
  z-index: 100;
  opacity: 1;
}

.sticky {
  background-color: rgba(24, 23, 29, 0.973);
}

main {
  width: 1210px;
  margin: 0 auto;
  margin-bottom: 10%;
  margin-top: -2%;
}

@media (max-width: 1440px) {
  main {
    width: 85%;
  }
}

main img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2px;
  cursor: pointer;
}

main .title-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: solid 1px rgba(38, 38, 48, 0.37);
}

main .title-section span {
  background-color: #9d44e2;
  width: 5px;
  height: 35px;
  border: solid 1px #9d44e2;
  margin-right: 0.4rem;
}

main h1 {
  font-family: "Bebas Neue", cursive;
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 3rem;
  color: #eee1f8;
  font-size: 2rem;
}

main .pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

main .pagination a {
  cursor: pointer;
  border-radius: 6rem;
  border: solid 2px #8e33d3;
  margin: 0.2rem;
}

main .pagination a:hover {
  background-color: rgba(168, 83, 224, 0.356);
  color: #f0e9e9;
}

main .pagination a i {
  pointer-events: none;
  padding: 0.5rem 0.7rem;
  margin: 0.2rem;
  color: rgba(226, 192, 248, 0.692);
  font-size: 0.9rem;
}

main #popular-series,
main #movies-filter,
main #popular-movies {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(180px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 5rem;
  grid-row-gap: 4rem;
  margin-top: 1rem;
}

@media (max-width: 780px) {
  main #popular-series,
  main #movies-filter,
  main #popular-movies {
    -ms-grid-columns: (minmax(150px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

main .img-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2px;
}

main .img-container .details-btn {
  background-color: rgba(158, 61, 238, 0.096);
  border-radius: 2px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(27, 24, 29, 0.342)), to(rgba(30, 25, 32, 0.555)));
  background-image: linear-gradient(rgba(27, 24, 29, 0.342), rgba(30, 25, 32, 0.555));
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 98.9%;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

main .img-container .details-btn button {
  text-decoration: none;
  border: none;
  color: rgba(230, 207, 245, 0.911);
  letter-spacing: 1px;
  font-family: "Bebas Neue", cursive;
  font-size: 1.1rem;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#a03ff0), to(rgba(84, 29, 139, 0.788)));
  background-image: linear-gradient(to bottom right, #a03ff0, rgba(84, 29, 139, 0.788));
  padding: 0.8rem 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 150%);
          transform: translate(-50%, 150%);
  margin-bottom: 0;
  opacity: 0;
  border-radius: 0.1rem;
  letter-spacing: 1px;
  font-size: 1.3rem;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  width: 150px;
}

@media (max-width: 780px) {
  main .img-container .details-btn button {
    width: 120px;
  }
}

@media (max-width: 390px) {
  main .img-container .details-btn button {
    width: 180px;
    -webkit-transform: translate(-50%, 220%);
            transform: translate(-50%, 220%);
  }
}

main .img-container:hover .details-btn {
  opacity: 1;
}

main .img-container:hover button {
  opacity: 1;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
}

@media (max-width: 390px) {
  main .img-container:hover button {
    -webkit-transform: translate(-50%, 180%);
            transform: translate(-50%, 180%);
  }
}

main .movie-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 1rem 0;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

main .movie-item .movie-title {
  margin-top: 0.5rem;
  font-size: 0.9rem;
  text-align: center;
  color: rgba(226, 192, 248, 0.836);
}

main .movie-item .movie-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  right: 0;
  background-color: rgba(157, 68, 226, 0.836);
  padding: 0.3rem;
  color: #f3ecec;
}

main .movie-item .movie-rating p {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

main .movie-item .movie-rating i {
  margin-right: 0.3rem;
  font-size: 0.8rem;
}

main #upcoming-slide {
  margin-top: 10%;
  width: 100%;
}

@media (max-width: 625px) {
  main #upcoming-slide {
    margin-top: 17%;
  }
}

main #upcoming-slide img {
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1150px) {
  main #upcoming-slide img {
    height: 200px;
  }
}

@media (max-width: 780px) {
  main #upcoming-slide img {
    height: 220px;
  }
}

@media (max-width: 625px) {
  main #upcoming-slide img {
    height: 250px;
  }
}

@media (max-width: 565px) {
  main #upcoming-slide img {
    height: 200px;
  }
}

@media (max-width: 390px) {
  main #upcoming-slide img {
    height: 250px;
  }
}

main #upcoming-slide .swiper-slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main #upcoming-slide .swiper-slide .movie-date {
  font-weight: 100;
  margin-top: 0.3rem;
  font-size: 0.8rem;
  text-align: center;
  letter-spacing: 1px;
  color: #e6cff5;
}

main #upcoming-slide .swiper-slide p {
  font-weight: 100;
  margin-top: 0.3rem;
  font-size: 0.7rem;
  text-align: center;
  letter-spacing: 1px;
  color: rgba(226, 192, 248, 0.836);
}

main #upcoming-slide .swiper-container {
  width: 100%;
  margin-top: 1rem;
}

main #upcoming-slide .swiper-container img {
  border-radius: 2px;
  height: 220px;
}

main #upcoming-slide .swiper-button-prev,
main #upcoming-slide .swiper-button-next {
  color: #9e44e2;
}

main #popular-container {
  margin-top: 2%;
  margin-bottom: 20vh;
}

@media (max-width: 625px) {
  main #popular-container {
    margin-top: 17%;
  }
}

main #filtered-movies {
  margin-top: 10%;
}

@media (max-width: 565px) {
  main #filtered-movies {
    margin-top: 20%;
  }
}

main #filtered-movies #genre {
  margin-right: 0.1rem;
}

main #filtered-movies .name-value,
main #filtered-movies .item-searched {
  position: relative;
  width: 100%;
  display: none;
  border-bottom: solid 1px rgba(38, 38, 48, 0.37);
}

@media (max-width: 390px) {
  main #filtered-movies .name-value,
  main #filtered-movies .item-searched {
    border-bottom: none;
  }
}

main #filtered-movies .name-value .title-searched,
main #filtered-movies .item-searched .title-searched {
  font-family: "Bebas Neue", cursive;
  color: #eee1f8;
  letter-spacing: 1px;
  font-size: 2rem;
}

main #filtered-movies .name-value .texts,
main #filtered-movies .item-searched .texts {
  position: absolute;
  left: 180px;
  bottom: 15px;
}

@media (max-width: 565px) {
  main #filtered-movies .name-value .texts,
  main #filtered-movies .item-searched .texts {
    display: none;
  }
}

main #filtered-movies #genre,
main #filtered-movies #filter,
main #filtered-movies #movie-name {
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  color: #eee1f8;
  font-size: 0.9rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#a03ff0), to(rgba(84, 29, 139, 0.788)));
  background-image: linear-gradient(to bottom right, #a03ff0, rgba(84, 29, 139, 0.788));
}

@media (max-width: 565px) {
  main #filtered-movies #genre,
  main #filtered-movies #filter,
  main #filtered-movies #movie-name {
    padding: 5px;
    font-size: 0.6rem;
  }
}

main #movies-filter {
  margin-top: 3%;
}

.data-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.data-options a {
  margin: 15px;
  width: 80%;
  border: none;
  padding: 16px;
  border: solid 2px #8e33d3;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  border-radius: 16px;
}

#backbutton {
  display: inline-block;
}

.about-movie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.details-header {
  background-color: rgba(24, 23, 29, 0.863);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 1.3rem 1.3rem 1.3rem;
  border-radius: 0 0 0.1rem 0.1rem;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 100;
}

#movie-banner {
  width: 100vw;
  margin: 0 auto;
  background-position: top;
  background-size: cover;
  min-height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 4%;
}

#movie-banner:after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(31, 28, 28, 0.705)), to(rgba(19, 19, 17, 0.692)));
  background-image: linear-gradient(rgba(31, 28, 28, 0.705), rgba(19, 19, 17, 0.692));
  pointer-events: none;
}

#movie-banner .movie-trailer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 100;
}

#movie-banner .movie-trailer a {
  font-size: 3rem;
  color: #9e3dee;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

#movie-banner .movie-trailer a:hover {
  color: #b772f0;
}

#movie-banner #searchInput,
#movie-banner #search {
  display: none;
}

.back-home a {
  text-decoration: none;
  border: none;
  color: rgba(230, 207, 245, 0.911);
  letter-spacing: 1px;
  font-family: "Bebas Neue", cursive;
  font-size: 1.1rem;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#a03ff0), to(rgba(84, 29, 139, 0.788)));
  background-image: linear-gradient(to bottom right, #a03ff0, rgba(84, 29, 139, 0.788));
  padding: 0.5rem 1rem;
}

@media (max-width: 625px) {
  .back-home a {
    font-size: 1rem;
    padding: 0.4rem 0.7rem;
  }
}

#series-detail,
#movie-detail {
  margin-top: 10%;
  margin-bottom: 2rem;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 60%;
      grid-template-columns: 1fr 60%;
  grid-gap: 2rem;
}

@media (max-width: 1150px) {
  #series-detail,
  #movie-detail {
    -ms-grid-columns: 1fr 55%;
        grid-template-columns: 1fr 55%;
  }
}

@media (max-width: 780px) {
  #series-detail,
  #movie-detail {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

#series-detail ul,
#movie-detail ul {
  list-style: none;
}

#series-detail .poster-movie,
#movie-detail .poster-movie {
  width: 100%;
  position: relative;
  padding: 0;
}

#series-detail .poster-movie span,
#movie-detail .poster-movie span {
  position: absolute;
  bottom: 5rem;
  right: 50%;
}

@media (max-width: 780px) {
  #series-detail .poster-movie,
  #movie-detail .poster-movie {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#series-detail .poster-movie img,
#movie-detail .poster-movie img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border: solid 2px rgba(143, 48, 221, 0.432);
  margin: 0 auto;
}

@media (max-width: 780px) {
  #series-detail .poster-movie img,
  #movie-detail .poster-movie img {
    width: 360px;
  }
}

#series-detail .details-container,
#movie-detail .details-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#0d0d13), to(rgba(20, 14, 22, 0.884)));
  background-image: linear-gradient(to bottom right, #0d0d13, rgba(20, 14, 22, 0.884));
  padding: 0.5rem 2rem;
}

@media (max-width: 625px) {
  #series-detail .details-container,
  #movie-detail .details-container {
    padding: 0.2rem 1.3rem;
  }
}

#series-detail .details-container .movie-title,
#movie-detail .details-container .movie-title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-bottom: none;
}

@media (max-width: 930px) {
  #series-detail .details-container .movie-title,
  #movie-detail .details-container .movie-title {
    margin-bottom: -1rem;
  }
}

#series-detail .details-container .movie-title span,
#movie-detail .details-container .movie-title span {
  display: none;
}

#series-detail .details-container .movie-title h1,
#movie-detail .details-container .movie-title h1 {
  font-size: 2.5rem;
  text-align: center;
  background: -webkit-linear-gradient(rgba(167, 70, 247, 0.856), #5f1ea0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 1096px) {
  #series-detail .details-container .movie-title h1,
  #movie-detail .details-container .movie-title h1 {
    font-size: 2.2rem;
  }
}

@media (max-width: 930px) {
  #series-detail .details-container .movie-title h1,
  #movie-detail .details-container .movie-title h1 {
    font-size: 1.8rem;
  }
}

@media (max-width: 780px) {
  #series-detail .details-container .movie-title h1,
  #movie-detail .details-container .movie-title h1 {
    margin-top: 1rem;
  }
}

#series-detail .details-container .title-section,
#movie-detail .details-container .title-section {
  border-bottom: none;
  margin-top: 0;
}

#series-detail .details-container .overview,
#movie-detail .details-container .overview {
  width: 100%;
}

@media (max-width: 930px) {
  #series-detail .details-container .overview,
  #movie-detail .details-container .overview {
    margin-bottom: -1rem;
  }
}

#series-detail .details-container .overview p,
#movie-detail .details-container .overview p {
  width: 100%;
  line-height: 1.3rem;
}

@media (max-width: 930px) {
  #series-detail .details-container .overview p,
  #movie-detail .details-container .overview p {
    font-size: 0.9rem;
  }
}

#series-detail .details-container .detail-info,
#movie-detail .details-container .detail-info {
  margin-bottom: 1rem;
}

@media (max-width: 930px) {
  #series-detail .details-container .detail-info li,
  #movie-detail .details-container .detail-info li {
    font-size: 0.9rem;
  }
}

#series-detail .details-container .detail-info li .contrast,
#movie-detail .details-container .detail-info li .contrast {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  color: #eee1f8;
}

#series-detail .details-container .title-section,
#movie-detail .details-container .title-section {
  margin-top: 3rem;
}

.similar-section .title-section {
  border-bottom: none;
  margin-top: 5rem;
}

.similar-section .similar-movies {
  grid-gap: 2rem;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 5rem;
}

.similar-section .similar-movies div p {
  font-size: 0.8rem;
  text-align: center;
}

.similar-section .similar-movies div img {
  max-width: 100%;
}

.similar-section .similar-movies .swiper-button-prev,
.similar-section .similar-movies .swiper-button-next {
  color: #9e44e2;
}

.reviews-section .title-section {
  border-bottom: none;
}

.movie-reviews {
  background-color: #1e1e3d;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#0d0d13), to(rgba(20, 14, 22, 0.884)));
  background-image: linear-gradient(to bottom right, #0d0d13, rgba(20, 14, 22, 0.884));
  border: solid 1px #121218;
  padding: 1rem 2rem;
  margin-top: 1rem;
  height: 500px;
  overflow-y: scroll;
  scrollbar-color: #a03ff0 rgba(26, 23, 31, 0.363);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.movie-reviews h1 {
  margin-bottom: 1rem;
}

.movie-reviews h3 {
  margin-bottom: 0.5rem;
  color: #eee1f8;
}

.movie-reviews p {
  margin-bottom: 1.2rem;
}

.movie-reviews a {
  text-decoration: none;
  border: none;
  color: rgba(230, 207, 245, 0.911);
  letter-spacing: 1px;
  font-family: "Bebas Neue", cursive;
  font-size: 1.1rem;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#a03ff0), to(rgba(84, 29, 139, 0.788)));
  background-image: linear-gradient(to bottom right, #a03ff0, rgba(84, 29, 139, 0.788));
  padding: 0.5rem 2rem;
  margin-top: 5rem;
}

.movie-reviews div {
  margin-top: 0rem;
  padding: 2rem 0;
}

.disponivel .title-section {
  margin-bottom: 5px;
}

.disponivel img {
  width: 50px;
}

.movie-reviews::-webkit-scrollbar {
  width: 10px;
}

.movie-reviews::-webkit-scrollbar-track {
  background: rgba(26, 23, 31, 0.952);
}

.movie-reviews::-webkit-scrollbar-thumb {
  background: #a03ff0;
}

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.9;
}

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: rgba(230, 207, 245, 0.911);
}

body {
  background-color: #0a0a0e;
  color: rgba(226, 192, 248, 0.836);
  font-family: "Mulish", sans-serif;
  overflow-x: hidden;
  position: relative;
}

.container {
  width: 1210px;
  margin: 0 auto;
}

@media (max-width: 1440px) {
  .container {
    width: 85%;
  }
}

#landing-page {
  margin: 0 auto;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 33, 33, 0.733)), to(rgba(116, 44, 163, 0.329))), url("https://image.tmdb.org/t/p/original/orjiB3oUIsyz60hoEqkiGpy5CeO.jpg") no-repeat;
  background: linear-gradient(rgba(34, 33, 33, 0.733), rgba(116, 44, 163, 0.329)), url("https://image.tmdb.org/t/p/original/orjiB3oUIsyz60hoEqkiGpy5CeO.jpg") no-repeat;
  background-position: top;
  background-size: cover;
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: solid 1px rgba(158, 61, 238, 0.164);
  margin-bottom: 8%;
}

#landing-page .landing-txt {
  width: 500px;
  padding: 10rem 0;
}

@media (max-width: 780px) {
  #landing-page .landing-txt {
    width: 90%;
  }
}

@media (max-width: 625px) {
  #landing-page .landing-txt {
    width: 100%;
  }
}

#landing-page .landing-txt h2 {
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 1px;
  font-family: "Anton", sans-serif;
  color: #eee1f8;
  font-size: 2.4rem;
  background: -webkit-linear-gradient(rgba(244, 241, 247, 0.973), #c79cf1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 780px) {
  #landing-page .landing-txt h2 {
    font-size: 2rem;
  }
}

@media (max-width: 625px) {
  #landing-page .landing-txt h2 {
    font-size: 1.7rem;
  }
}

@media (max-width: 565px) {
  #landing-page .landing-txt h2 {
    font-size: 1.5rem;
  }
}

#landing-page .landing-txt p {
  color: #e2c0f8;
  color: #ebe5f0;
  font-size: 1.3rem;
  line-height: 2rem;
}

@media (max-width: 780px) {
  #landing-page .landing-txt p {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
}

@media (max-width: 625px) {
  #landing-page .landing-txt p {
    font-size: 1rem;
  }
}

#landing-series {
  margin: 0 auto;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(34, 33, 33, 0.733)), to(rgba(116, 44, 163, 0.329))), url("https://image.tmdb.org/t/p/original/iDbIEpCM9nhoayUDTwqFL1iVwzb.jpg") no-repeat;
  background: linear-gradient(rgba(34, 33, 33, 0.733), rgba(116, 44, 163, 0.329)), url("https://image.tmdb.org/t/p/original/iDbIEpCM9nhoayUDTwqFL1iVwzb.jpg") no-repeat;
  background-position: top;
  background-size: cover;
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: solid 1px rgba(158, 61, 238, 0.164);
  margin-bottom: 8%;
}

#landing-series .landing-txt {
  width: 500px;
  padding: 10rem 0;
}

@media (max-width: 780px) {
  #landing-series .landing-txt {
    width: 90%;
  }
}

@media (max-width: 625px) {
  #landing-series .landing-txt {
    width: 100%;
  }
}

#landing-series .landing-txt h2 {
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 1px;
  font-family: "Anton", sans-serif;
  color: #eee1f8;
  font-size: 2.4rem;
  background: -webkit-linear-gradient(rgba(244, 241, 247, 0.973), #c79cf1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 780px) {
  #landing-series .landing-txt h2 {
    font-size: 2rem;
  }
}

@media (max-width: 625px) {
  #landing-series .landing-txt h2 {
    font-size: 1.7rem;
  }
}

@media (max-width: 565px) {
  #landing-series .landing-txt h2 {
    font-size: 1.5rem;
  }
}

#landing-series .landing-txt p {
  color: #e2c0f8;
  color: #ebe5f0;
  font-size: 1.3rem;
  line-height: 2rem;
}

@media (max-width: 780px) {
  #landing-series .landing-txt p {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }
}

@media (max-width: 625px) {
  #landing-series .landing-txt p {
    font-size: 1rem;
  }
}

footer {
  width: 100%;
  height: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, right top, from(#0a0a0e), to(#151118));
  background-image: linear-gradient(to right, #0a0a0e, #151118);
  border-top: solid 1px #1b161f;
  color: #7a5f8d;
}

footer p {
  margin-bottom: 0.2rem;
  border-bottom: solid 1px #1b161f;
  padding: 0 0 0.2rem 0;
}

footer i {
  cursor: pointer;
  margin: 0.2rem;
}

.movie-detail2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.pagination-btn {
  display: none;
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#filtered-movies h1 {
  display: none;
}

.hide {
  display: none;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#19161b), to(#16111b));
  background-image: linear-gradient(to bottom right, #19161b, #16111b);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

/*--------Login---------*/
.login-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 100vh;
}

@media (max-width: 930px) {
  .login-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2rem;
  }
}

.login-container .login-wpp {
  background: url("https://www.10wallpaper.com/wallpaper/2560x1440/1804/2018_Avengers_Infinity_War_4K_Film_2560x1440.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 930px) {
  .login-container .login-wpp {
    display: none;
  }
}

.login-container .login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-container .login-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  width: 350px;
}

@media (max-width: 625px) {
  .login-container .login-form form {
    width: 100%;
  }
}

.login-container .login-form form .bold-txt {
  font-weight: bold;
}

.login-container .login-form form img {
  width: 165px;
}

.login-container .login-form form h1 {
  text-align: center;
  margin-top: 1rem;
  font-weight: 100;
  color: #1b1a1a;
  font-size: 2.6rem;
  letter-spacing: 2px;
  font-family: "Black Han Sans", sans-serif;
  font-weight: 100;
  color: #9e3dee;
}

.login-container .login-form form p {
  margin-top: 1rem;
  color: #a59797;
  font-size: 0.9rem;
}

@media (max-width: 625px) {
  .login-container .login-form form p {
    font-size: 0.7rem;
  }
}

.login-container .login-form .signin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
}

.login-container .login-form .signin input {
  margin-top: 2rem;
  height: 60px;
  padding: 12px;
  width: 350px;
  border: solid 1px #e6d9d9;
  border-radius: 10px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.login-container .login-form .signin input:focus {
  outline: none;
  border: solid 1px #928c8c;
}

@media (max-width: 625px) {
  .login-container .login-form .signin input {
    width: 270px;
  }
}

.login-container .login-form .signin button {
  cursor: pointer;
  text-decoration: none;
  border: none;
  color: rgba(230, 207, 245, 0.911);
  letter-spacing: 1px;
  font-family: "Bebas Neue", cursive;
  font-size: 1.1rem;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#a03ff0), to(rgba(84, 29, 139, 0.788)));
  background-image: linear-gradient(to bottom right, #a03ff0, rgba(84, 29, 139, 0.788));
  width: 225px;
  padding: 16px;
  font-size: 1.7rem;
  border-radius: 3px;
}

.login-container .login-form .signin button:focus {
  outline: none;
}

.login-container .login-form a {
  margin-top: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.9rem;
}

.login-container .login-form .signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.login-container .login-form .signup a {
  margin-top: 0;
  text-transform: inherit;
  text-decoration: none;
  font-size: 0.8rem;
  margin-top: 5px;
  font-weight: 100;
}

.lista-login {
  width: 25vw;
  height: 100vh;
  position: fixed;
  border-right: solid 3px #9e3dee;
  left: 0;
  top: 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#0d0d13), to(rgba(20, 14, 22, 0.884)));
  background-image: linear-gradient(to bottom right, #0d0d13, rgba(20, 14, 22, 0.884));
}

.lista-login form h1 {
  font-size: 1.8rem !important;
  margin-bottom: 10px;
}

.lista-login form .logout {
  cursor: pointer;
  text-decoration: none;
  border: none;
  color: rgba(230, 207, 245, 0.911);
  letter-spacing: 1px;
  font-family: "Bebas Neue", cursive;
  font-size: 1.1rem;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#a03ff0), to(rgba(84, 29, 139, 0.788)));
  background-image: linear-gradient(to bottom right, #a03ff0, rgba(84, 29, 139, 0.788));
  width: 200px;
  padding: 10px;
  font-size: 1.7rem;
  border-radius: 3px;
}

.lista-container {
  margin-left: 25vw;
  width: 100%;
}

.lista-conteudo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 25vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-left: 15vh;
}

.lista-conteudo h1 {
  text-transform: uppercase;
  letter-spacing: 4px;
}

.lista-conteudo img {
  max-width: 200px;
}

.filmes-favoritos {
  margin-bottom: 25vh;
}

.watchlist {
  margin-top: 25vh;
  margin-bottom: 25vh;
}

.watchlist-serie {
  margin-bottom: 25vh;
}

.watchlist-serie,
.watchlist,
.filmes-favoritos,
.series-favoritas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 750px;
}

.watchlist-serie h3,
.watchlist h3,
.filmes-favoritos h3,
.series-favoritas h3 {
  margin: 0 auto;
  margin-top: 10px;
}

.watchlist-serie .swiper-slide,
.watchlist .swiper-slide,
.filmes-favoritos .swiper-slide,
.series-favoritas .swiper-slide {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

.watchlist-serie .swiper-slide .movie-date,
.watchlist .swiper-slide .movie-date,
.filmes-favoritos .swiper-slide .movie-date,
.series-favoritas .swiper-slide .movie-date {
  font-weight: 100;
  margin-top: 0.3rem;
  font-size: 0.8rem;
  text-align: center;
  letter-spacing: 1px;
  color: #e6cff5;
}

.watchlist-serie .swiper-slide p,
.watchlist .swiper-slide p,
.filmes-favoritos .swiper-slide p,
.series-favoritas .swiper-slide p {
  font-weight: 100;
  margin-top: 0.3rem;
  font-size: 0.7rem;
  text-align: center;
  letter-spacing: 1px;
  color: rgba(226, 192, 248, 0.836);
}

.watchlist-serie .swiper-container,
.watchlist .swiper-container,
.filmes-favoritos .swiper-container,
.series-favoritas .swiper-container {
  width: 100%;
  margin-top: 1rem;
  border-top: solid 1px rgba(38, 38, 48, 0.37);
}

.watchlist-serie .swiper-container img,
.watchlist .swiper-container img,
.filmes-favoritos .swiper-container img,
.series-favoritas .swiper-container img {
  border-radius: 2px;
  height: 220px;
}

.watchlist-serie .swiper-button-prev,
.watchlist-serie .swiper-button-next,
.watchlist .swiper-button-prev,
.watchlist .swiper-button-next,
.filmes-favoritos .swiper-button-prev,
.filmes-favoritos .swiper-button-next,
.series-favoritas .swiper-button-prev,
.series-favoritas .swiper-button-next {
  color: #9e44e2;
}

.title-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: start;
}

.title-section span {
  background-color: #9d44e2;
  width: 5px;
  height: 35px;
  border: solid 1px #9d44e2;
  margin-right: 0.4rem;
}

h1 {
  font-family: "Bebas Neue", cursive;
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 3rem;
  color: #eee1f8;
  font-size: 2rem;
}

.removeWatchMovie,
.removeWatchTv,
.removeMovie,
.removeTv {
  display: none;
  cursor: pointer;
  text-decoration: none;
  border: none;
  color: rgba(230, 207, 245, 0.911);
  letter-spacing: 1px;
  font-family: "Bebas Neue", cursive;
  font-size: 1rem !important;
  background-color: transparent;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#a03ff0), to(rgba(84, 29, 139, 0.788)));
  background-image: linear-gradient(to bottom right, #a03ff0, rgba(84, 29, 139, 0.788));
  padding: 6px;
  font-size: 1.7rem;
  border-radius: 3px;
  margin-top: 10px;
}

.lista-header {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#0d0d13), to(rgba(20, 14, 22, 0.884)));
  background-image: linear-gradient(to bottom right, #0d0d13, rgba(20, 14, 22, 0.884));
}

.loginPage i {
  font-size: 35px;
  color: #9e3dee;
}

.login-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-align i {
  margin-left: 25px;
}

.watchlist,
.favorite-tv,
.watchlist-movie,
.favorite-movie {
  cursor: pointer;
  margin-top: 40px;
  background: transparent;
  border: none;
  font-size: 1.3rem;
  letter-spacing: 2px;
  margin-right: 15px;
  color: #baafc2;
}

.watchlist i,
.favorite-tv i,
.watchlist-movie i,
.favorite-movie i {
  color: #9e3dee;
}
/*# sourceMappingURL=style.css.map */