@import url("https://fonts.googleapis.com/css?family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css?family=Red+Hat+Text&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  background-color: #110f0f;
  font-family: 'Red Hat Text', sans-serif;
}

a:hover {
  color: inherit;
  border: none;
  text-decoration: none;
}

.greendetail {
  color: #3de697;
}

.cursor {
  width: 20px;
  height: 20px;
  border: solid 1px #e9e4e4;
  border-radius: 50%;
  position: absolute;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  -webkit-animation: cursorAnimation .5s infinite alternate;
          animation: cursorAnimation .5s infinite alternate;
  pointer-events: none;
  z-index: 100;
}

@-webkit-keyframes cursorAnimation {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@keyframes cursorAnimation {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem 0 0 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 10vh;
  color: #f3e3e3;
}

header h1 {
  font-family: "Paytone One", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 1rem;
}

header ul a {
  margin: 1rem;
  color: inherit;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

header ul a:hover {
  color: inherit;
  text-decoration: none;
}

#home {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

#home .row {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home img {
  width: 135%;
  z-index: -1;
  margin-right: 10px;
}

#home .teste {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#home .home-txt {
  margin-top: -10rem;
}

#home .home-txt h1 {
  font-family: "Paytone One", sans-serif;
  color: #f3e3e3;
  letter-spacing: 1px;
  font-size: 3.1rem;
}

#home .home-txt a {
  color: #110f0f;
  color: #f7f2f2;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: solid 1px #3de697;
  padding: 0.7rem;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#home .home-txt a:hover {
  background-color: #3de697;
  color: #0a0909;
}

#home .home-txt .subtitle {
  color: #585656;
}

#home .home-txt .subtitle p {
  margin-bottom: 3rem;
}

#home .circle {
  -webkit-transform: translate(-20%, -70%);
          transform: translate(-20%, -70%);
  position: absolute;
  opacity: 0.6;
  overflow: hidden;
}

#home .circleOne img {
  -webkit-animation: rotateCircle 2s linear infinite;
          animation: rotateCircle 2s linear infinite;
}

#home .circleTwo img {
  -webkit-animation: rotateCircle 8s linear infinite;
          animation: rotateCircle 8s linear infinite;
}

@-webkit-keyframes rotateCircle {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateCircle {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#about .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

#about h4 {
  color: #5c5959;
  margin-bottom: 1rem;
  text-transform: uppercase;
  margin-left: -1rem;
}

#about p {
  color: #c7c2c2;
}

#about .wrap {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
}

#about .cube {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 200px;
  height: 200px;
  margin: auto;
  position: relative;
  -webkit-animation: loop 10s linear infinite;
          animation: loop 10s linear infinite;
}

#about .cube img {
  position: absolute;
  opacity: 0.7;
  width: 100%;
  height: 100%;
}

#about .cube img:nth-child(1) {
  -webkit-transform: rotateY(0deg) translateZ(100px);
          transform: rotateY(0deg) translateZ(100px);
}

#about .cube img:nth-child(2) {
  -webkit-transform: rotateY(90deg) translateZ(100px);
          transform: rotateY(90deg) translateZ(100px);
}

#about .cube img:nth-child(3) {
  -webkit-transform: rotateY(180deg) translateZ(100px);
          transform: rotateY(180deg) translateZ(100px);
}

#about .cube img:nth-child(4) {
  -webkit-transform: rotateY(-90deg) translateZ(100px);
          transform: rotateY(-90deg) translateZ(100px);
}

#about .cube img:nth-child(5) {
  -webkit-transform: rotateX(90deg) translateZ(100px);
          transform: rotateX(90deg) translateZ(100px);
}

#about .cube img:nth-child(6) {
  -webkit-transform: rotateX(-90deg) translateZ(100px);
          transform: rotateX(-90deg) translateZ(100px);
}

@-webkit-keyframes loop {
  from {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
            transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
            transform: rotateX(360deg) rotateY(360deg);
  }
}

@keyframes loop {
  from {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
            transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
            transform: rotateX(360deg) rotateY(360deg);
  }
}

#portfolio .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10rem !important;
}

#portfolio h4 {
  color: #5c5959;
  margin-bottom: 1rem;
  text-transform: uppercase;
  margin-top: 10rem !important;
}

#portfolio .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #141414;
  padding: 10px;
  border-radius: 4px;
  margin: 1rem;
  -webkit-box-shadow: 1px 1px 1px 1px #3de697;
          box-shadow: 1px 1px 1px 1px #3de697;
}

#portfolio .item p {
  color: #c7c2c2;
  margin-bottom: 5px;
  margin-top: 10px;
}

#portfolio .item a {
  color: #3de697;
  margin: 5px;
  font-size: 1.5rem;
}

#portfolio .item img {
  width: 100%;
}

#contact .row {
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact h4 {
  color: #5c5959;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

#contact p {
  color: #c7c2c2;
}

#contact .contact-txt {
  border-right: solid 1px #313133;
}

#contact .contact-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .socials a {
  color: #3de697;
  font-size: 1.5rem;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 5px;
}

footer {
  color: #f3e3e3;
  padding: 5rem 0 5rem 0;
}

footer .row {
  border-top: solid 1px #302f2f;
}

footer p {
  margin-top: 1rem;
  color: #646262;
}
/*# sourceMappingURL=style.css.map */