@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:900");
/* Mixins to handle Quick Navigation Button states */
@media screen and (max-width: 1275px) {
  #destaques,
  #destaquesApple,
  #destaquesMoto,
  #destaquesSam,
  #destaquesAsus {
    -ms-grid-columns: (210px)[3] !important;
        grid-template-columns: repeat(3, 210px) !important;
  }
  .duvidas-form,
  .sobre {
    width: 100% !important;
  }
  .itemBanner {
    -ms-grid-column: 1 !important;
        grid-column-start: 1 !important;
    grid-column-end: 4 !important;
    -ms-grid-row: 1;
    -ms-grid-row-span: 12;
    grid-row: 1/13;
  }
  .itemBanner img {
    max-width: 100% !important;
    height: 100% !important;
    border: solid 1px #c3c1c1;
  }
  .home-nav .logo {
    margin-right: 53px !important;
  }
  .home-nav .login-link {
    margin-right: 11px !important;
  }
  header .logo {
    margin-right: 53px;
    margin-top: 12px;
    font-size: 12px !important;
  }
  header li,
  header a {
    margin-left: 12px;
    font-size: 14.6px;
  }
  .buttonsPag {
    margin-top: 10px !important;
    margin-left: 0 !important;
  }
}

@media screen and (max-width: 1135px) {
  .show-menu-btn,
  .hide-menu-btn,
  .login {
    display: block !important;
  }
  .show-menu-btn {
    margin-top: 2.2rem;
  }
  header {
    position: relative;
  }
  .cart i {
    position: absolute;
    right: 97px;
    top: 19px;
    padding: 6px !important;
  }
  .nav,
  .login {
    position: fixed;
    width: 60% !important;
    height: 100%;
    background: #f5f3f3;
    right: -100%;
    top: 0;
    -webkit-transition: 0.7s;
    transition: 0.7s;
    z-index: 100;
  }
  .nav ul,
  .login ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100vh;
  }
  .nav ul li,
  .login ul li {
    margin: 1rem;
  }
  .nav ul a,
  .login ul a {
    font-size: 1.5rem;
    color: #a09b9b;
  }
  .nav .hide-menu-btn,
  .login .hide-menu-btn {
    position: absolute;
    top: 40px;
    right: 40px;
    color: #646262 !important;
  }
  .topo-nav,
  .nav-contato {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .contato-form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sobre {
    margin-top: 15px;
    padding: 6px;
  }
  .login-link i {
    display: none;
  }
  .opcoes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .detalhes-pag {
    width: 100% !important;
    margin-left: 0 !important;
    margin-top: 15px;
  }
  .buttonsPag {
    margin-top: -75px !important;
    margin-left: 60% !important;
  }
  .precodet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  table {
    width: 98% !important;
    margin-left: 0 !important;
  }
  #check:checked ~ .nav {
    right: 0 !important;
  }
  #destaques,
  #destaquesApple,
  #destaquesMoto,
  #destaquesSam,
  #destaquesAsus {
    -ms-grid-columns: (210px)[3] !important;
        grid-template-columns: repeat(3, 210px) !important;
    border-left: none !important;
  }
  .itemBanner {
    -ms-grid-column: 1 !important;
    -ms-grid-column-span: 2 !important;
    grid-column: 1/3 !important;
    -ms-grid-row: 1 !important;
    -ms-grid-row-span: 8 !important;
    grid-row: 1/9 !important;
  }
  header .logo {
    position: absolute;
    left: 45px;
    top: 5px;
  }
  header li,
  header a {
    margin-left: 12px;
    font-size: 14.6px;
  }
  .show-menu-btn {
    color: #323333;
    position: absolute;
    right: 58px;
    top: -20px;
  }
}

@media screen and (max-width: 1035px) {
  #destaques,
  #destaquesApple,
  #destaquesMoto,
  #destaquesSam,
  #destaquesAsus {
    -ms-grid-columns: (210px)[2] !important;
        grid-template-columns: repeat(2, 210px) !important;
    border-left: none !important;
  }
}

@media screen and (max-width: 750px) {
  .show-menu-item,
  .hide-menu-item {
    display: block !important;
  }
  .cart i {
    right: 52px;
  }
  .navbar,
  .login {
    width: 100% !important;
  }
  .navbar {
    width: 100%;
  }
  .buttonsPag {
    margin-top: 10px !important;
    margin-left: 0 !important;
  }
  .precodet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .opcoes {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    margin-left: 0% !important;
  }
  .opcoes img {
    width: 70%;
    margin-left: 15%;
  }
  .card-nav {
    -webkit-box-pack: end !important;
        -ms-flex-pack: end !important;
            justify-content: end !important;
  }
  table {
    margin-left: 0 !important;
    width: 100% !important;
  }
  table td {
    padding: 12px 36px 4px 14px !important;
  }
  .detalhes-pag p {
    font-size: 15px;
    padding: 2px;
  }
  .detalhes-pag h1 {
    font-size: 17px;
    padding: 4px;
  }
  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100% !important;
    background: #f4f5f5 !important;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
    z-index: 1000;
  }
  .menu input {
    border: solid 2px #ccc !important;
    border-radius: 4px;
    width: 250px !important;
  }
  .menu ul {
    border-bottom: solid 1px #dbdbdd;
    padding: 4px;
  }
  .menu .cores-opcoes {
    border-bottom: none;
  }
  .menu .ordenar-menu {
    position: relative;
  }
  .menu .ordenar-menu i {
    position: absolute;
    top: 65px;
    left: 230px;
    color: #adadad;
  }
  .menu .main {
    margin-top: -50rem !important;
  }
  .show-menu-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #f8fafa;
    border: solid 2px #c8c7c7;
    border-radius: 4px;
    padding: 10px;
    width: 469px;
    margin-bottom: 2%;
    margin-top: 6%;
    margin-right: 8px;
  }
  .show-menu-item a {
    color: #333333;
  }
  .show-menu-item i {
    margin-left: 365px;
    color: #8d8a8a;
    font-size: 18px;
  }
  #check-menu:checked ~ .menu {
    left: 0 !important;
  }
  .hide-menu-item {
    border-bottom: solid 2px #dbd8d8;
    width: 100%;
    padding: 6px;
    margin-top: 15px;
  }
  .hide-menu-item a {
    margin-left: 15px;
    color: #464646;
  }
  .hide-menu-item i {
    color: #c3c1c1;
    font-size: 18px;
  }
  #main {
    margin-top: 0px !important;
  }
  #destaques,
  #destaquesApple,
  #destaquesMoto,
  #destaquesSam,
  #destaquesAsus {
    -ms-grid-columns: (210px)[2] !important;
        grid-template-columns: repeat(2, 210px) !important;
  }
  .itemBanner {
    -ms-grid-column: 1 !important;
    -ms-grid-column-span: 2 !important;
    grid-column: 1/3 !important;
    -ms-grid-row: 1 !important;
    -ms-grid-row-span: 9 !important;
    grid-row: 1/10 !important;
  }
  .logo {
    position: absolute;
    left: 10px !important;
  }
  .show-menu-btn {
    position: absolute;
    right: 16px !important;
  }
  .container-contato {
    width: 100% !important;
  }
}

@media screen and (max-width: 610px) {
  .contato-form {
    padding: 30px;
    margin-bottom: 15px;
  }
  .swiper-button-prev {
    display: none;
  }
  .swiper-button-next {
    display: none;
  }
  .banner {
    padding: 0.5rem;
    margin-bottom: -3rem;
  }
  .container-contato {
    margin-bottom: 45px;
    margin-top: 15px;
  }
  .nav {
    width: 100% !important;
  }
  .nav a {
    font-size: 1.3rem;
    color: #a09b9b;
  }
}

@media screen and (max-width: 500px) {
  #destaques,
  #destaquesApple,
  #destaquesMoto,
  #destaquesSam,
  #destaquesAsus {
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
  }
  .modal input {
    width: 100% !important;
  }
  .modal .confirmar-btn {
    width: 100% !important;
  }
  .itemBanner {
    -ms-grid-column: 1 !important;
    -ms-grid-column-span: 1 !important;
    grid-column: 1/2 !important;
    -ms-grid-row: 1 !important;
    -ms-grid-row-span: 8 !important;
    grid-row: 1/9 !important;
  }
  #destaquesApple .item,
  #destaquesAsus .item,
  #destaquesMoto .item,
  #destaquesSam .item {
    margin-left: 17.8%;
  }
  .orderBy {
    margin-left: 0 !important;
  }
  .item {
    width: 300px !important;
  }
  .item img {
    width: 65% !important;
  }
  footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    height: 100%;
    padding: 4%;
  }
  footer .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 475px) {
  #destaques,
  #destaquesApple,
  #destaquesMoto,
  #destaquesSam,
  #destaquesAsus {
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
  }
  .item {
    margin-left: 0 !important;
    -ms-grid-column-align: center !important;
        justify-self: center !important;
  }
  .opcoes img {
    margin-left: 20px !important;
  }
  .opcoes #img-container {
    margin-left: 47px !important;
  }
  .frete input {
    width: 100% !important;
  }
  .show-menu-item {
    width: 93% !important;
    position: relative;
    margin-left: 7px;
  }
  .show-menu-item i {
    position: absolute;
    right: 15px;
  }
}

@media screen and (max-width: 420px) {
  .card-nav img {
    width: 68.5px !important;
  }
}

@media screen and (max-width: 375px) {
  .itemBanner {
    -ms-grid-row: 1 !important;
    -ms-grid-row-span: 7 !important;
    grid-row: 1/8 !important;
  }
  #finalizarCompra {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  .opcoes {
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    margin-left: 0 !important;
  }
  .opcoes img {
    margin-left: 10px !important;
  }
  .opcoes #img-container {
    margin-left: 37px !important;
  }
  .logo {
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  .buttonsPag button {
    width: 82% !important;
  }
  table {
    width: 100% !important;
  }
  .buttonsPag {
    margin-left: 35px !important;
  }
  .opcoes {
    margin-top: 2%;
  }
  .opcoes p {
    font-size: 13px;
  }
  #destaques,
  #destaquesApple,
  #destaquesMoto,
  #destaquesSam,
  #destaquesAsus {
    -ms-grid-columns: (1fr)[1] !important;
        grid-template-columns: repeat(1, 1fr) !important;
  }
  #destaques .item,
  #destaquesApple .item,
  #destaquesMoto .item,
  #destaquesSam .item,
  #destaquesAsus .item {
    width: 80% !important;
  }
  .card-nav img {
    width: 62.5px !important;
  }
  .itemBanner {
    -ms-grid-row: 1 !important;
    -ms-grid-row-span: 5 !important;
    grid-row: 1/6 !important;
  }
  #finalizarCompra {
    margin-top: 15%;
  }
  #contato {
    margin-top: 2% !important;
  }
  #finalizarCompra {
    padding: 4%;
  }
  .navbar #main a,
  .login #main a {
    font-size: 14px;
  }
}
/*# sourceMappingURL=responsive.css.map */