@import url("https://fonts.googleapis.com/css?family=Archivo+Black|Bowlby+One+SC|Quicksand&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 450px;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #f8f6f6;
  overflow-x: hidden;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  text-decoration: none;
  color: #383737;
}

ul {
  list-style: none;
}

svg {
  max-width: 95%;
  z-index: -1;
}

@media (max-width: 625px) {
  svg {
    width: 65%;
    margin-top: -360px;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
}

#home {
  height: 100%;
  width: 1000px;
}

@media (max-width: 1150px) {
  #home {
    width: 90%;
  }
}

#home header {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0rem 0rem 0rem;
}

#home header h1 {
  font-family: "Bowlby One SC", cursive;
  letter-spacing: 2px;
  font-weight: 100;
  background: -webkit-linear-gradient(#a64fce, #d79df1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#home header nav {
  margin-top: 5px;
}

#home header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#home header nav ul .test55 {
  color: #f7f5f1;
  background: #a64fce;
  padding: 0.8rem 2.5rem 0.8rem 2.5rem;
  border-radius: 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(#8d4aac), to(#c669f1));
  background: linear-gradient(#8d4aac, #c669f1);
  padding: 0.5rem 1.8rem 0.5rem 1.8rem;
}

#home header nav ul .signupNav {
  color: #f7f5f1;
  background: #a64fce;
  padding: 0.8rem 2.5rem 0.8rem 2.5rem;
  border-radius: 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(#8d4aac), to(#c669f1));
  background: linear-gradient(#8d4aac, #c669f1);
  padding: 0.6rem 1.5rem 0.6rem 1.5rem;
}

#home header nav ul li {
  margin-left: 20px;
}

#home header nav ul li a {
  color: #3b3a3a;
}

#home .landing-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -60px;
}

@media (max-width: 780px) {
  #home .landing-content {
    -ms-grid-columns: 320px 1fr;
        grid-template-columns: 320px 1fr;
  }
}

@media (max-width: 625px) {
  #home .landing-content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-top: 150px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 625px) {
  #home .landing-content .landing-text {
    -ms-grid-row: 3;
        grid-row-start: 3;
    margin-top: -300px;
    height: 85vh;
  }
}

#home .landing-content .landing-text p {
  width: 450px;
  font-size: 1.4rem;
  color: #1f1e1e;
  margin-top: 10px;
  padding: 2px;
}

@media (max-width: 625px) {
  #home .landing-content .landing-text p {
    text-align: center;
  }
}

@media (max-width: 1150px) {
  #home .landing-content .landing-text p {
    width: 95%;
    font-size: 1.2rem;
  }
}

@media (max-width: 930px) {
  #home .landing-content .landing-text p {
    font-size: 1rem;
  }
}

#home .landing-content .title p {
  font-size: 2.9rem;
  color: #333232;
  width: 100%;
  line-height: 2.8rem;
  font-family: "Archivo Black", sans-serif !important;
}

@media (max-width: 1150px) {
  #home .landing-content .title p {
    font-size: 2.4rem;
  }
}

@media (max-width: 930px) {
  #home .landing-content .title p {
    font-size: 2rem;
    margin-bottom: -10px;
  }
}

@media (max-width: 780px) {
  #home .landing-content .title p {
    font-size: 1.8rem;
  }
}

@media (max-width: 625px) {
  #home .landing-content .title p {
    font-size: 1.5rem;
  }
}

#home .landing-content .home-btn {
  margin-top: 30px;
}

@media (max-width: 625px) {
  #home .landing-content .home-btn {
    text-align: center;
  }
}

#home .landing-content .home-btn a {
  color: #f7f5f1;
  background: #a64fce;
  padding: 0.8rem 2.5rem 0.8rem 2.5rem;
  border-radius: 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(#8d4aac), to(#c669f1));
  background: linear-gradient(#8d4aac, #c669f1);
}

@media (max-width: 780px) {
  #home .landing-content .home-btn a {
    padding: 0.7rem 1.8rem 0.7rem 1.8rem;
    font-size: 0.9rem;
  }
}

#home .landing-content .home-btn .test {
  background: transparent;
  color: #3d3c3c;
  border: 1px #b1adad solid;
  padding: 0.7rem 2.2rem 0.7rem 2.2rem;
}

@media (max-width: 780px) {
  #home .landing-content .home-btn .test {
    padding: 0.6rem 1.8rem 0.6rem 1.8rem;
    font-size: 0.9rem;
  }
}

#home .landing-content #rocket {
  -webkit-animation: floating 1s infinite ease-in-out alternate;
          animation: floating 1s infinite ease-in-out alternate;
}

@-webkit-keyframes floating {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes floating {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

#about {
  height: 400px;
  background-image: -webkit-gradient(linear, left top, right top, from(#a140ce), to(#c76ff0));
  background-image: linear-gradient(to right, #a140ce, #c76ff0);
  width: 100%;
  position: relative;
}

#about .test123 {
  background-image: -webkit-gradient(linear, left top, right top, from(#a344cf), to(#cd69fc));
  background-image: linear-gradient(to right, #a344cf, #cd69fc);
  width: 850px;
  height: 400px;
  margin: 0 auto;
  margin-top: -95px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #e6dfdf;
  -webkit-box-shadow: 7px 10px 21px -4px rgba(66, 63, 66, 0.32);
          box-shadow: 7px 10px 21px -4px rgba(66, 63, 66, 0.32);
}

@media (max-width: 930px) {
  #about .test123 {
    width: 90%;
  }
}

#about .about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px;
  -ms-flex-line-pack: center;
      align-content: center;
  overflow: hidden;
}

@media (max-width: 565px) {
  #about .about-text {
    padding: 20px;
    margin-top: 10px;
  }
}

#about .about-text .title-about {
  font-family: "Archivo Black", sans-serif;
  text-align: right;
  font-size: 2.0rem;
  width: 50%;
}

@media (max-width: 780px) {
  #about .about-text .title-about {
    font-size: 1.7rem;
  }
}

@media (max-width: 625px) {
  #about .about-text .title-about {
    font-size: 1.5rem;
  }
}

@media (max-width: 565px) {
  #about .about-text .title-about {
    font-size: 1.3rem;
  }
}

#about .about-text .about-content {
  font-size: 1.5rem;
  margin-left: 25px;
  width: 50%;
  border-bottom: solid 2px #cc95e6;
}

@media (max-width: 780px) {
  #about .about-text .about-content {
    font-size: 1.3rem;
  }
}

@media (max-width: 625px) {
  #about .about-text .about-content {
    font-size: 1.2rem;
  }
}

@media (max-width: 565px) {
  #about .about-text .about-content {
    font-size: 1rem;
  }
}

#about h2 {
  font-family: 'Quicksand', sans-serif;
  color: #ddc1e9;
  text-transform: uppercase;
  margin-top: 15px;
  letter-spacing: -1px;
  font-weight: 100;
  margin-bottom: 10px;
  font-size: 1rem;
}

#services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1000px;
  margin-top: 125px;
}

@media (max-width: 1150px) {
  #services {
    width: 100%;
  }
}

#services .test99 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#services .test99 h1 {
  color: #383737;
  text-transform: uppercase;
  font-family: "Archivo Black", sans-serif;
}

#services .test99 p {
  text-align: center;
  color: #666464;
  width: 75%;
  font-size: 1.2rem;
  margin-bottom: -85px;
}

@media (max-width: 625px) {
  #services .test99 p {
    width: 85%;
  }
}

#services .test55 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 55px;
  margin-top: -125px;
  padding: 50px;
}

@media (max-width: 780px) {
  #services .test55 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#services .test55 img {
  width: 50%;
}

@media (max-width: 780px) {
  #services .test55 img {
    width: 100%;
    margin: 0 auto;
  }
}

#services .test55 div {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 85px;
  margin-top: 50px;
}

@media (max-width: 780px) {
  #services .test55 div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 60px;
    margin-left: 0;
  }
}

#services .test55 div h3 {
  font-family: "Archivo Black", sans-serif;
  text-transform: uppercase;
  color: #333232;
  font-size: 1.5rem;
}

#services .test55 div p {
  color: #747070;
  font-size: 1.2rem;
  margin-bottom: 45px;
  margin-top: 10px;
}

@media (max-width: 780px) {
  #services .test55 div p {
    text-align: center;
  }
}

#services .test55 div a {
  color: #f7f5f1;
  background: #a64fce;
  padding: 0.8rem 2.5rem 0.8rem 2.5rem;
  border-radius: 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(#8d4aac), to(#c669f1));
  background: linear-gradient(#8d4aac, #c669f1);
  border: solid 2px #b9b6b6;
  border: none;
  margin-top: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'Quicksand', sans-serif;
}

@media (max-width: 930px) {
  #services .test55 div a {
    padding: 0.8rem 1rem 0.8rem 1rem;
    font-size: 0.8rem;
  }
}

@media (max-width: 780px) {
  #services .test55 div a {
    color: #f7f5f1;
    background: #a64fce;
    padding: 0.8rem 2.5rem 0.8rem 2.5rem;
    border-radius: 25px;
    background: -webkit-gradient(linear, left top, left bottom, from(#8d4aac), to(#c669f1));
    background: linear-gradient(#8d4aac, #c669f1);
    margin-top: -20px;
  }
}

#services .indexOf {
  font-family: "Bowlby One SC", cursive;
  font-weight: 100;
  background: -webkit-linear-gradient(#a64fce, #d79df1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 55px;
  margin-bottom: -85px;
}

#services .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 8rem;
  grid-column-gap: 3.5rem;
  padding: 12rem;
}

@media (max-width: 1150px) {
  #services .cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 780px) {
  #services .cards {
    grid-row-gap: 3rem;
    grid-column-gap: 0rem;
  }
}

@media (max-width: 625px) {
  #services .cards {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

#services .cards .card {
  text-align: center;
}

#services .cards .card h3 {
  font-family: "Archivo Black", sans-serif;
  text-transform: uppercase;
  width: 300px;
  margin: 0 auto;
  color: #2c2b2b;
  margin-bottom: 10px;
}

#services .cards .card p {
  color: #747070;
  margin-top: 5px;
  font-size: 1.2rem;
  width: 300px;
  margin: 0 auto;
}

@media (max-width: 780px) {
  #services .cards .card p {
    font-size: 1rem;
    width: 80%;
  }
}

@media (max-width: 625px) {
  #services .cards .card p {
    width: 100%;
  }
}

#portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  background-color: #f7f1f1;
  padding: 125px;
}

#portfolio h2 {
  font-family: "Archivo Black", sans-serif;
  text-transform: uppercase;
  color: #353434;
  font-size: 2rem;
}

#portfolio p {
  margin-bottom: 55px;
  font-size: 1.3rem;
  color: #615f5f;
}

#portfolio .portfolio-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
}

#portfolio .portfolio-content .northface {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 5;
  background-color: red;
  width: 550px;
  height: 520px;
  background: url("nf.png");
  background-size: cover;
}

#portfolio .portfolio-content .restaurant {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  background-color: blue;
  background: url("restaurante.jfif");
  background-size: cover;
  height: 250px;
}

#portfolio .portfolio-content .business {
  background-color: green;
  background: url("business.jfif");
  background-size: cover;
  height: 250px;
  background-position: left;
}

#portfolio .portfolio-content .sonora {
  background-color: yellow;
  background: url("sonora.jfif");
  background-size: cover;
  height: 250px;
}

#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 85px;
  background-image: -webkit-gradient(linear, left top, right top, from(#a344cf), to(#cd69fc));
  background-image: linear-gradient(to right, #a344cf, #cd69fc);
  width: 100vw;
}

#contact .formulario {
  padding: 85px;
  background-image: -webkit-gradient(linear, left top, right top, from(#a344cf), to(#cd69fc));
  background-image: linear-gradient(to right, #a344cf, #cd69fc);
  background-color: #faf6f6;
  width: 855px;
  margin: 0 auto;
  margin-top: -150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #e6dfdf;
  color: black;
  -webkit-box-shadow: 7px 10px 21px -4px rgba(48, 47, 47, 0.185);
          box-shadow: 7px 10px 21px -4px rgba(48, 47, 47, 0.185);
  border-radius: 25px;
}

#contact .test {
  width: 10px;
}

#contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact form input, #contact form textarea, #contact form a {
  padding: 15px 15px 3px 10px;
  width: 550px;
  width: 100%;
  margin: 10px;
  outline: none;
  border-color: #c798e6;
}

#contact form h3 {
  font-family: "Archivo Black", sans-serif;
  color: #e3e1e6;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: -2px;
  font-size: 2.2rem;
  margin: 10px;
  margin-bottom: 5px;
  margin-top: -50px;
}

#contact form p {
  margin: 10px;
  margin-bottom: 35px;
  color: #ece6e6;
  color: #e3e1e6;
}

#contact form input, #contact form textarea {
  border: none;
  border-bottom: solid 2px #d394f0;
  border-bottom: solid 2px #c49cec;
  background: #b569d8;
  background: transparent;
  color: #d4c9c9;
}

#contact form ::-webkit-input-placeholder {
  color: #ddccee;
  font-family: 'Quicksand', sans-serif;
  font-size: 0.9rem;
}

#contact form :-ms-input-placeholder {
  color: #ddccee;
  font-family: 'Quicksand', sans-serif;
  font-size: 0.9rem;
}

#contact form ::-ms-input-placeholder {
  color: #ddccee;
  font-family: 'Quicksand', sans-serif;
  font-size: 0.9rem;
}

#contact form ::placeholder {
  color: #ddccee;
  font-family: 'Quicksand', sans-serif;
  font-size: 0.9rem;
}

#contact form button {
  background: transparent;
  color: #3d3c3c;
  border: 1px #b1adad solid;
  padding: 0.7rem 2.2rem 0.7rem 2.2rem;
  border-radius: 25px;
  color: #f7f1f1;
  width: 155px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border: 2px solid #ddccee;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  padding: 85px;
  background-color: #f2f2f7;
  background-color: red;
  background-image: -webkit-gradient(linear, left top, right top, from(#a344cf), to(#cd69fc));
  background-image: linear-gradient(to right, #a344cf, #cd69fc);
  width: 100vw;
  -o-border-image: linear-gradient(to right, #a344cf, #cd69fc);
     border-image: -webkit-gradient(linear, left top, right top, from(#a344cf), to(#cd69fc));
     border-image: linear-gradient(to right, #a344cf, #cd69fc);
  border-top: solid 3px #a344cf;
}

footer a {
  color: #deb8f0;
}

footer .more-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .more-info h4 {
  font-family: "Archivo Black", sans-serif;
  text-transform: capitalize;
  color: #e6dcdc;
}

footer .footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-left: solid 1px #cd81f0;
  border-right: solid 1px #cd81f0;
  color: #deb8f0;
}

footer .footer-logo h3 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: "Bowlby One SC", cursive;
  color: #e3e1e6;
  letter-spacing: 0px;
  font-weight: 100;
}

footer .footer-logo p {
  text-align: center;
  padding: 10px;
}

footer .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .socials h4 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: "Archivo Black", sans-serif;
  color: #f1ebeb;
}
/*# sourceMappingURL=style.css.map */