@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Bowlby+One+SC|Quicksand&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
}

// .container{
//     padding: 1.5rem 15rem 1.5rem 15rem;

// }


//VARS
$primaryColor: rgb(166, 79, 206);
$logoFont: 'Bowlby One SC', cursive;
$subTitle: 'Archivo Black', sans-serif;

a{
    text-decoration: none;
    color: rgb(56, 55, 55);
}

ul {
    list-style: none;
}

svg{
    max-width: 35%;
}

//Home
#home{
    height: 100vh;
    width: 100vw;
}

// Header
header{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 12rem 1.5rem 12rem;
    // background: red;

    h1 {
        font-family: $logoFont;
        letter-spacing: 2px;
        // text-transform: uppercase;
        font-weight: 100;
        background: -webkit-linear-gradient(rgb(166, 79, 206),rgb(215, 157, 241));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    nav {
        margin-top: 5px;
    }

    nav ul {
        display: flex;
        align-items: center;
        justify-content: center;

        .signupNav{
            background: linear-gradient(rgb(162, 85, 197),rgb(198, 105, 241));
            padding: 0.6rem 2.0rem 0.6rem 2.0rem ;
            color: rgb(247, 243, 243);
            border-radius: 25px;
        }

        li{
            margin-left: 20px;
        }
    }
}


// Landing-Content
.landing-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -60px;

    .landing-text p {
        width: 450px;
        font-size: 1.1rem;
        color: rgb(31, 30, 30);
        margin-top: 10px;
        // background-color: blue;
        // text-align: justify;
    }

    .title p {
        font-size: 3.2rem;
        color: rgb(51, 50, 50);
        width: 100%;
        // padding: 2px;
        // background: red;
        margin-bottom: 9px;
        line-height: 2.8rem;
        font-family: $subTitle;
    }

    .home-btn {
        margin-top: 30px;
        
        a{
            color: rgb(247, 245, 241);
            background: $primaryColor;
            padding: 0.8rem 2.5rem 0.8rem 2.5rem ;
            // border: 2px rgb(177, 80, 223) solid;
            border-radius: 25px;
            background: linear-gradient(rgb(141, 74, 172),rgb(198, 105, 241));
        }

        .test{
            background: transparent;
            color: rgb(61, 60, 60);
            border: 1px rgb(177, 173, 173) solid;
            padding: 0.7rem 2.2rem 0.7rem 2.2rem ;
        }
    }

    #rocket {
        animation: floating 1s infinite ease-in-out alternate;
    }

    @keyframes floating {
        from{
            transform: translateY(0px);
        }
        to{
            transform: translateY(-20px);
        }
    }

}