@import url("https://fonts.googleapis.com/css?family=Archivo+Black|Bowlby+One+SC|Quicksand&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #383737;
}

ul {
  list-style: none;
}

svg {
  max-width: 35%;
}

#home {
  height: 100vh;
  width: 100vw;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 12rem 1.5rem 12rem;
}

header h1 {
  font-family: "Bowlby One SC", cursive;
  letter-spacing: 2px;
  font-weight: 100;
  background: -webkit-linear-gradient(#a64fce, #d79df1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header nav {
  margin-top: 5px;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav ul .signupNav {
  background: -webkit-gradient(linear, left top, left bottom, from(#a255c5), to(#c669f1));
  background: linear-gradient(#a255c5, #c669f1);
  padding: 0.6rem 2.0rem 0.6rem 2.0rem;
  color: #f7f3f3;
  border-radius: 25px;
}

header nav ul li {
  margin-left: 20px;
}

.landing-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -60px;
}

.landing-content .landing-text p {
  width: 450px;
  font-size: 1.1rem;
  color: #1f1e1e;
  margin-top: 10px;
}

.landing-content .title p {
  font-size: 3.2rem;
  color: #333232;
  width: 100%;
  margin-bottom: 9px;
  line-height: 2.8rem;
  font-family: "Archivo Black", sans-serif;
}

.landing-content .home-btn {
  margin-top: 30px;
}

.landing-content .home-btn a {
  color: #f7f5f1;
  background: #a64fce;
  padding: 0.8rem 2.5rem 0.8rem 2.5rem;
  border-radius: 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(#8d4aac), to(#c669f1));
  background: linear-gradient(#8d4aac, #c669f1);
}

.landing-content .home-btn .test {
  background: transparent;
  color: #3d3c3c;
  border: 1px #b1adad solid;
  padding: 0.7rem 2.2rem 0.7rem 2.2rem;
}

.landing-content #rocket {
  -webkit-animation: floating 1s infinite ease-in-out alternate;
          animation: floating 1s infinite ease-in-out alternate;
}

@-webkit-keyframes floating {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes floating {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  to {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}
/*# sourceMappingURL=style.css.map */