@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Bowlby+One+SC|Quicksand&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
}

// .container{
//     padding-right: 15px;
//     padding-left: 15px;
//     margin-right: auto;
//     margin-left: auto;
// }


//VARS
$primaryColor: rgb(166, 79, 206);
$logoFont: 'Bowlby One SC', cursive;
$subTitle: 'Archivo Black', sans-serif;

@mixin gradientFont{
    font-weight: 100;
    background: -webkit-linear-gradient(rgb(166, 79, 206),rgb(215, 157, 241));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin gradientBtn{
    color: rgb(247, 245, 241);
    background: $primaryColor;
    padding: 0.8rem 2.5rem 0.8rem 2.5rem ;
    border-radius: 25px;
    background: linear-gradient(rgb(141, 74, 172),rgb(198, 105, 241));
}

@mixin simpleBtn{
    background: transparent;
    color: rgb(61, 60, 60);
    border: 1px rgb(177, 173, 173)solid;
    padding: 0.7rem 2.2rem 0.7rem 2.2rem ;
    border-radius: 25px;
}

a{
    text-decoration: none;
    color: rgb(56, 55, 55);
}

ul {
    list-style: none;
}

svg{
    max-width: 35%;
    // background-color: red;
    // height: 35%;
    z-index: -1;
}

//Home
#home{
    height: 100vh;
    width: 100vw;
    // background: linear-gradient(-35deg,rgb(245, 243, 243) 60%, transparent 60%);
}

// Header
header{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 12rem 1.5rem 12rem;
    width: 100vw;
    height: 80px;

    h1 {
        font-family: $logoFont;
        letter-spacing: 2px;
        // text-transform: uppercase;
        @include gradientFont();
    }

    nav {
        margin-top: 5px;
    }

    nav ul {
        display: flex;

        .signupNav{
            @include gradientBtn;
            padding: 0.6rem 1.5rem 0.6rem 1.5rem;
        }

        li{
            margin-left: 20px;

            a{
                color: rgb(59, 58, 58);
            }
        }
    }
}


// Landing-Content
.landing-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -60px;

    .landing-text p {
        width: 450px;
        font-size: 1.1rem;
        color: rgb(31, 30, 30);
        margin-top: 10px;
        padding: 2px;
    }

    .title p {
        font-size: 3.2rem;
        color: rgb(51, 50, 50);
        width: 100%;
        line-height: 2.8rem;
        font-family: $subTitle;
    }

    .home-btn {
        margin-top: 30px;
        
        a{
            @include gradientBtn;
        }

        .test{
            background: transparent;
            color: rgb(61, 60, 60);
            border: 1px rgb(177, 173, 173)solid;
            padding: 0.7rem 2.2rem 0.7rem 2.2rem ;
        }
    }

    #rocket {
        animation: floating 1s infinite ease-in-out alternate;
    }

    @keyframes floating {
        from{
            transform: translateY(0px);
        }
        to{
            transform: translateY(-20px);
        }
    }

}

//About
#about{
    height: 85vh;
    width: 100vw;
    background: rgb(245, 243, 243);
    padding: 120px;

    .container2{
        display: flex;
        justify-content: space-around;
        // padding: 35px;

        .indexOf{
            font-family: $logoFont;
            @include gradientFont();
        }

        .about-text{
            width: 850px;
            margin-top: 50px;
            justify-self: center;
            margin-left: 50px;

            h3{
                font-family: $subTitle;
                font-size: 1.8rem;
                line-height: 2rem;
                margin-bottom: 10px;
                color: rgb(51, 50, 50);
            }

            p{
                font-size: 1.2rem;
                margin-bottom: 25px;
                color: rgb(31, 30, 30);
            }

            a{
                @include simpleBtn();
                color: rgb(88, 87, 87);
            }
        }
    }
}

//Services
#services{
    // height: 100vh;
    width: 100vw;
    // background-color: blue;
    padding: 85px;



    .container3 {
        display: flex;
        // justify-content: center;
        flex-direction: column;
        align-items: center;
        // padding: 120px;
        
        .card{
            // display: flex;
            margin-left: auto;
            margin-right: auto;
            // background-color: red;
            padding: 85px;

            svg{
                // width: 100%;
                height: 100%;
                // justify-self: flex-end;
            }

            
    #money-circle {
        animation: floating 1s infinite ease-in-out alternate;
    }

    @keyframes floating {
        from{
            transform: translateY(0px);
        }
        to{
            transform: translateY(-20px);
        }
    }
            .card-content{
                float:left;
                align-self: center;
                margin-top: 150px;

                h3{
                    font-family: $subTitle;
                    font-size: 1.9rem;
                    color: rgb(44, 43, 43);
                }

                p{
                    max-width: 70%;
                    font-size: 1.2rem;
                }
            }
        }

        .card2 {
            display: grid;
            padding: 2rem;
            // background-color: red;
            width: 850px;
            .img{
                grid-column-start: 1;
            }
            .card-content{
                grid-column-start: 3;
            }
        }

        .card3 {
            display: grid;
            padding: 2rem;
            // background-color: red;
            width: 850px;
            .img{
                grid-column-start: 3;
            }
            .card-content{
                grid-column-start: 1;
            }
        }

        .card4 {
            display: grid;
            padding: 2rem;
            // background-color: red;
            width: 850px;
            .img{
                grid-column-start: 1;
            }
            .card-content{
                grid-column-start: 3;
            }
        }

        


        .indexOf {
            @include gradientFont();
            font-family: $logoFont;
            align-self: flex-start;
        }

        .test{
            align-self: flex-start;
            // margin-left: 172px;
        }
    }
}