.app {
  height: 100vh;
  background: lightgreen;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.app button {
  cursor: pointer;
  padding: 1% 4%;
  background-color: lightpink;
  border: none;
  outline: none;
}

.tweet {
  border: 2px dotted lightcoral;
  height: 400px;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.purple {
  color: rebeccapurple;
}