@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:900");
/* Mixins to handle Quick Navigation Button states */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  background-color: #f8f2f2;
}

/* Nav*/
header {
  background-color: #fcf9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2rem 0 1rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 11vh;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 1rem;
}

header nav ul a {
  text-decoration: none;
  margin: 1rem;
  color: #3f3c3c;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
}

header .logo {
  font-family: "Noto Sans KR", sans-serif;
  text-transform: uppercase;
  background: #00b7ff;
  padding: 0 12px 0;
  color: #f7f5f8;
  cursor: pointer;
}

header .cart i {
  color: #f1f5f8;
  background-color: #00b7ff;
  padding: 10px;
  border: solid 2px #00b7ff;
  font-size: 1rem;
  border-radius: 5rem;
}

header .login-link {
  cursor: pointer;
}

header .login-link i {
  color: #f1f5f8;
  background-color: #00b7ff;
  padding: 10px;
  border: solid 2px #00b7ff;
  font-size: 1rem;
  border-radius: 5rem;
}

.show-menu-btn,
.hide-menu-btn {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.show-menu-btn i {
  color: #00b7ff;
}

#check {
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

/*Banner*/
.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: slide 12s infinite;
          animation: slide 12s infinite;
  position: relative;
  background-size: cover;
  width: 100%;
  margin-bottom: -2rem;
}

.banner .carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner .carousel img {
  width: 10%;
}

.banner .swiper-container {
  width: 100%;
}

.banner .swiper-container .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .swiper-container .swiper-slide img {
  max-width: 100%;
}

.banner .swiper-pagination {
  position: absolute;
  bottom: 0;
  z-index: 100;
  width: 100%;
}

.banner .swiper-button-prev {
  margin-left: 1rem;
}

.banner .swiper-button-next {
  margin-right: 1rem;
}

#check-menu {
  visibility: hidden;
  z-index: -1111;
}

.show-menu-item,
.hide-menu-item {
  display: none;
  cursor: pointer;
}

/*Conteudo*/
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  /*Side menu*/
  /*Side menu end*/
  /*Produtos destaque*/
  /*Produtos destaque end*/
}

main .menu {
  width: 230px;
  height: 100%;
  background: #fbfafa;
  border: solid 1px #e0dbdb;
  margin-bottom: 200px;
  margin-top: 2%;
  padding: 0 26px 12px;
}

main .menu .menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .menu .menu-items h3 {
  margin-top: 15px;
  font-family: "Noto Sans KR", sans-serif;
  color: #4d4d4d;
  text-transform: uppercase;
}

main .menu .menu-items li,
main .menu .menu-items a {
  list-style: none;
  text-decoration: none;
  color: #3b3b3b;
  margin-top: 11px;
  font-size: 16px;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  cursor: pointer;
}

main .menu .menu-items li:hover,
main .menu .menu-items a:hover {
  color: #0d9cd4;
}

main .menu .menu-items input {
  outline: none;
  border: none;
  padding: 5px;
  border-bottom: solid 2px #dfdcdc;
  margin-top: 12px;
  width: 130px;
}

main .menu .cores-opcoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .menu .cores-opcoes li {
  padding: 6px;
}

main .menu .cores-opcoes .branco {
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background: #f0f0f3;
  cursor: pointer;
  border: solid 1px #afaaaa;
}

main .menu .cores-opcoes .dourado {
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background: #f0f0f3;
  cursor: pointer;
  border: solid 1px #afaaaa;
  background: #d4af37;
}

main .menu .cores-opcoes .preto {
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background: #f0f0f3;
  cursor: pointer;
  border: solid 1px #afaaaa;
  background: #141414;
}

main .menu .cores-opcoes .cinza {
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background: #f0f0f3;
  cursor: pointer;
  border: solid 1px #afaaaa;
  background: #4b4b4c;
}

main .menu .cores-opcoes .vermelho {
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background: #f0f0f3;
  cursor: pointer;
  border: solid 1px #afaaaa;
  background: #ec3030;
}

main .menu .cores-opcoes .verde {
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background: #f0f0f3;
  cursor: pointer;
  border: solid 1px #afaaaa;
  background: #4eec7d;
}

main .menu .cores-opcoes .azul {
  height: 25px;
  width: 25px;
  border-radius: 50px;
  background: #f0f0f3;
  cursor: pointer;
  border: solid 1px #afaaaa;
  background: #2462e6;
}

main #destaques,
main #destaquesApple,
main #destaquesMoto,
main #destaquesSam,
main #destaquesAsus {
  display: -ms-grid;
  display: grid;
  margin-left: 0%;
  height: 100000% !important;
  padding: 0 12px 25px;
  -ms-grid-columns: (210px)[4];
      grid-template-columns: repeat(4, 210px);
  grid-column-gap: 45px;
  grid-row-gap: 35px;
  margin-top: 2%;
}

main #destaques .item,
main #destaquesApple .item,
main #destaquesMoto .item,
main #destaquesSam .item,
main #destaquesAsus .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  width: 100%;
  height: 100%;
  padding: 6%;
  background-color: white;
  border: solid 1px #e0dbdb;
  border-radius: 2px;
}

main #destaques .item button,
main #destaquesApple .item button,
main #destaquesMoto .item button,
main #destaquesSam .item button,
main #destaquesAsus .item button {
  cursor: pointer;
  padding: 11px;
  width: 70%;
  margin-top: 10px;
  font-family: "Noto Sans KR", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #f1ecec;
  background-color: rgba(37, 172, 240, 0.932);
  border: none;
}

main #destaques .itemBanner,
main #destaquesApple .itemBanner,
main #destaquesMoto .itemBanner,
main #destaquesSam .itemBanner,
main #destaquesAsus .itemBanner {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  border-radius: 2px;
}

main #destaques .itemBanner img,
main #destaquesApple .itemBanner img,
main #destaquesMoto .itemBanner img,
main #destaquesSam .itemBanner img,
main #destaquesAsus .itemBanner img {
  max-width: 100%;
  height: 100%;
  border: solid 1px #e0dbdb;
}

main #destaques h3,
main #destaquesApple h3,
main #destaquesMoto h3,
main #destaquesSam h3,
main #destaquesAsus h3 {
  font-size: 0.8em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main #destaques img,
main #destaquesApple img,
main #destaquesMoto img,
main #destaquesSam img,
main #destaquesAsus img {
  cursor: pointer;
  width: 100%;
}

main #destaques h3,
main #destaques a,
main #destaquesApple h3,
main #destaquesApple a,
main #destaquesMoto h3,
main #destaquesMoto a,
main #destaquesSam h3,
main #destaquesSam a,
main #destaquesAsus h3,
main #destaquesAsus a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  text-decoration: none;
  color: #3b3b3b;
  font-family: "Noto Sans KR", sans-serif;
  margin-left: 0%;
}

main #destaques a,
main #destaquesApple a,
main #destaquesMoto a,
main #destaquesSam a,
main #destaquesAsus a {
  background: #00b7ff;
  padding: 11px;
  width: 150px;
  margin-top: 10px;
  text-transform: uppercase;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  color: #fdf5f5;
}

main #destaques a:hover,
main #destaquesApple a:hover,
main #destaquesMoto a:hover,
main #destaquesSam a:hover,
main #destaquesAsus a:hover {
  background: #4fc8f8;
}

main #destaques p,
main #destaquesApple p,
main #destaquesMoto p,
main #destaquesSam p,
main #destaquesAsus p {
  margin-top: 5px;
  font-size: 0.9em;
  font-weight: 600;
  color: #434444;
}

main #destaques .parcela,
main #destaquesApple .parcela,
main #destaquesMoto .parcela,
main #destaquesSam .parcela,
main #destaquesAsus .parcela {
  color: #4b4a4a;
  font-size: 0.9em;
}

main #destaques .preco p,
main #destaquesApple .preco p,
main #destaquesMoto .preco p,
main #destaquesSam .preco p,
main #destaquesAsus .preco p {
  font-size: 17px;
  font-weight: 100;
  color: #444343;
}

main .organizar {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1/5;
  width: 970px;
  height: 6vh;
  background: #00b7ff;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  margin-bottom: -50px;
}

main .organizar h4 {
  font-family: "Noto Sans KR", sans-serif;
  text-transform: uppercase;
  padding: 12px 0;
  font-size: 18px;
  margin-left: 10px;
  color: #f3efef;
}

main .organizar a {
  cursor: pointer;
  background: none !important;
  padding: 16px 0 !important;
  width: 120px !important;
  margin-top: 0 !important;
  margin-left: 0 !important;
  height: 40px;
  font-size: 15px;
  color: #f3efef;
}

main .organizar input {
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 4px;
  border: solid 2px #e7e4e4;
  margin-top: 10px;
}

main .organizar .fa-search {
  position: absolute;
  top: 380px;
  right: 95px;
  color: #383838;
}

/*Conteudo end*/
/*Contato*/
.container-contato {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contato-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 2%;
  padding: 90px;
  margin-left: 0;
}

.contato-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.contato-form #error-msg {
  color: red;
}

.contato-form h2 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-transform: uppercase;
  font-family: "Noto Sans KR", sans-serif;
  color: #353434;
}

.contato-form input,
.contato-form select,
.contato-form textarea,
.contato-form button {
  padding: 2%;
  margin-top: 4px;
  outline: none;
  width: 85%;
  border-radius: 1px;
  border: solid 1px #e1e1e9;
  background: #f5f3f3;
}

.contato-form button {
  cursor: pointer;
  background-color: #0d9cd4;
  border: none;
  outline: none;
  color: #f8f8f8;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #00b7ff;
}

.contato-form .duvidas-form,
.contato-form .sobre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
  align-items: center;
  border: solid 1px #e0dfdf;
  background: #faf9f9;
  padding: 3%;
  margin-left: 5px;
}

.contato-form .duvidas-form .endereco,
.contato-form .sobre .endereco {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contato-form .duvidas-form p,
.contato-form .sobre p {
  margin-top: 5px;
  width: 90%;
  color: #3a3939;
}

.contato-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 14px;
  margin-bottom: -3rem;
}

.contato-title h1 {
  background: #00b7ff;
  margin-top: 45px;
  margin-bottom: -55px;
  font-family: "Noto Sans KR", sans-serif;
  text-transform: uppercase;
  padding: 4px;
  color: #f5f3f3;
  font-size: 1rem;
  font-weight: 100;
}

.pagamento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 5%;
  width: 100%;
}

.pagamento img {
  padding: 0 30px;
}

.ordenar-menu i {
  color: #b8b6b6;
  cursor: pointer;
}

/* Footer */
footer {
  padding: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-top: solid 1px #c3c1c1;
  background: #fdfcfc;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .info {
  margin-top: 5%;
}

footer .info li,
footer .info a {
  list-style: none;
  text-decoration: none;
  color: #3b3b3b;
  font-size: 0.9em;
  color: #3f3e3e;
}

footer .info li:hover,
footer .info a:hover {
  color: #2462e6;
}

footer .info h4 {
  text-transform: uppercase;
  color: #272726;
  margin-bottom: 6px;
}

footer .newsletter {
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .newsletter .socials i {
  color: #00b7ff;
  padding: 2px;
}

footer .newsletter .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .newsletter .email h5 {
  text-transform: uppercase;
  color: #353434;
}

footer .newsletter .email input {
  width: 121%;
  height: 27px;
  padding: 16px;
  outline: none;
  border-radius: 1px;
  border: solid 1px #e0dbdb;
  background: #f5f3f3;
}

footer .newsletter .email button {
  cursor: pointer;
  background-color: #0d9cd4;
  border: none;
  outline: none;
  color: #f8f8f8;
  margin-top: 4px;
  width: 121%;
  height: 25px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 1px;
  background-color: #00b7ff;
}

footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3b3b3b;
  padding: 4% 0 2% 0%;
  font-size: 0.8rem;
}

/* Footer end */
/* Modal */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  border: none;
  border-radius: 2px;
  z-index: 100;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  background-color: white;
  width: 380px;
  height: 400px;
  max-width: 80%;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  border-radius: 1rem;
}

.modal a {
  text-decoration: none;
  color: #949090;
}

.modal .modal-header {
  padding: 12px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
  color: #8a8585;
}

.modal .modal-header .title a {
  margin-right: 20px;
}

.modal .modal-body {
  padding: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 28px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal .modal-body input {
  width: 100%;
  height: 27px;
  border-radius: 3px;
  border: none;
  border-bottom: solid 2px #ccc;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.modal .modal-body button {
  cursor: pointer;
  outline: none;
  border-radius: 2px;
  width: 65%;
  background-color: #00b7ff;
  border: none;
  color: #ffffff;
  height: 30px;
  margin-top: 3px;
  margin-bottom: 4px;
  text-transform: uppercase;
}

.modal .modal-body a {
  padding: 0;
  margin-top: 0;
  text-transform: inherit;
  margin-left: 4px;
}

.modal .modal-body .login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal .modal-body .login-form input {
  width: 285px;
  background: #ebe8e8;
  border: none;
  border: solid 1px #e7e1e1;
  padding: 12px;
  margin: 0.2rem;
  height: 35px;
}

.modal .modal-body .login-form button {
  width: 150px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 1rem;
}

.modal .modal-body .registrar-form {
  margin-top: -30px;
}

.modal .modal-body .registrar-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.modal .modal-body .registrar-form input {
  width: 285px;
  background: #ebe8e8;
  border: none;
  border: solid 1px #e7e1e1;
  padding: 12px;
  margin: 0.2rem;
  height: 35px;
}

.modal .modal-body .registrar-form button {
  width: 150px;
}

.modal .modal-body .recuperar-senha {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal .modal-body .recuperar-senha button,
.modal .modal-body .recuperar-senha p,
.modal .modal-body .recuperar-senha a {
  margin: 0 auto;
}

.modal .modal-body .recuperar-senha p {
  width: 100%;
  text-align: center;
  color: #424141;
}

.modal .modal-body .recuperar-senha button {
  width: 150px;
}

.modal .modal-body .recuperar-senha input {
  width: 285px;
  background: #ebe8e8;
  border: none;
  border: solid 1px #e7e1e1;
  padding: 12px;
  margin: 0 auto;
  height: 35px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.modal .modal-body .recuperar-senha a {
  margin-top: 22px;
}

.modal .modal-body .recuperar-senha form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.modal .close-button {
  cursor: pointer;
  background-color: transparent;
  color: #308fe7;
  padding: 4px;
  border: none;
  font-size: 30px;
  font-weight: bold;
  outline: none;
  position: absolute;
  right: 1rem;
}

.modal.active {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

#overlay {
  position: fixed;
  opacity: 0;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  pointer-events: none;
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
  z-index: 10;
}

/*Modal end*/
/*BUY SECTION*/
#finalizarCompra {
  padding: 16px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

#finalizarCompra a {
  list-style: none;
  text-decoration: none;
  color: #3b3b3b;
  text-transform: uppercase;
  color: #616162;
  font-size: 15px;
  font-weight: bold;
  left: 200px;
}

.itemBanner img {
  width: 2500px !important;
  height: 100%;
}

.opcoes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fdfdfd;
  border: solid 1px #e0dbdb;
  padding: 28px;
}

.opcoes img {
  padding: 4px;
  max-width: 100%;
}

.opcoes h1 {
  border-bottom: solid 1px #e0dfdf;
  padding: 12px;
}

.opcoes h1,
.opcoes h2 {
  color: #2c2c2c;
  font-family: "Noto Sans KR", sans-serif;
}

.opcoes p {
  color: #5d5c5c;
}

.opcoes .frete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  border-top: solid 1px #c8c5c5;
  padding: 16px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.opcoes .frete input {
  outline: none;
  border: none;
  padding: 5px;
  border: solid 1px #dad7d7;
  border-radius: 3px;
  padding: 6px;
  margin-left: 7px;
  width: 150px;
}

.opcoes .frete button {
  cursor: pointer;
  background-color: #0d9cd4;
  border: none;
  outline: none;
  color: #f8f8f8;
  padding: 6px;
  margin-left: 4px;
  border-radius: 3px;
  font-weight: bold;
}

.opcoes .precodet {
  margin-top: 45px;
}

.opcoes .detalhes-pag {
  margin-left: 20px;
  height: 95%;
  width: 100%;
  border: solid 1px #e0dfdf;
  padding: 28px;
  position: relative;
}

.opcoes .detalhes-pag .buttonsPag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 215px;
  margin-top: -85px;
  margin-left: 58%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.opcoes .detalhes-pag .buttonsPag button {
  margin-bottom: 7px;
  padding: 7px;
  border: solid 1px #e0dfdf;
  outline: none;
  cursor: pointer;
  color: #5d5c5c;
  background: transparent;
  border-radius: 2px;
}

.opcoes .detalhes-pag .buttonsPag button:first-child {
  padding: 11px;
  background-color: #00b7ff;
  border: none;
  outline: none;
  cursor: pointer;
  color: #f3f1f1;
  font-size: 20px;
  font-family: "Noto Sans KR", sans-serif;
  text-transform: uppercase;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

.opcoes .detalhes-pag .buttonsPag button:first-child:hover {
  background: #4fc8f8;
}

.opcoes .card-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.opcoes .card-nav img {
  margin-top: 6px;
  width: 80px;
  border: solid 1px #e6dede;
  cursor: pointer;
}

.opcoes .card-nav img:nth-child(2),
.opcoes .card-nav img:nth-child(3) {
  margin-left: 15px;
}

.fichaTec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-collapse: collapse;
  color: #646464;
}

.fichaTec td {
  padding: 8px 255px 8px 6px;
}

.fichaTec table {
  width: 100%;
  margin-bottom: 5%;
}

.fichaTec tr:nth-child(odd) {
  background: #e6e3e3;
  background: #ebeaea;
}

.fichaTec tr:nth-child(even) {
  background: #f5f2f2;
}

th {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f8f2f2;
  padding: 6px;
  text-transform: uppercase;
  font-family: "Noto Sans KR", sans-serif;
  color: #535050;
}

.home-content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

img {
  max-width: 100% !important;
}
/*# sourceMappingURL=style.css.map */